*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
li{
	list-style: none;
}
#wrap{
	background-color: red;
	color: #fff;
	display: inline-block;
	float: left;
}
.first-box{
	position: relative;
	border-bottom: 1px dotted #fff;
	padding:10px 0px;
}
.first-line{
	float: left;
}
.second-box{
	position: absolute;
	background-color: #fff;
	color: #000;
	left:124px;
	top: 0px;
	border:1px solid black;
	width: 150px;
	display: none;
}
.second-box>li{
	float: left;
	margin-left: 20px;
}
.second-box>li:hover{
	cursor: pointer;
}
.icon{
	padding-left: 50px;
}
