*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
#wrap{
	display: inline-block;
	width: 900px;
}
#btnMore{
	border: 1px solid red;
	background-color: #fff;
	color: red;
	border-radius: 3px;
	padding: 5px;
	display: block;
	width: 80px;
	text-align: center;
}
.liWrap{
	border: 1px solid #ccc;
	text-align: center;
	display: block;
	position: relative;
	margin: 10px;
	float: left;
	width: 255px;
	height: 180px;
}

.price{
	color: red;
}

.cover{
	background-color: #ccc;
	position: absolute;
	width: 257px;
	height: 164px;
	top: 0;
	opacity: 0.5;
	width: 255px;
	height: 180px;
	display: none;
}
.btn{
	border: 1px solid red;
	background-color: #fff;
	color: red;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 5px;
	padding: 10px;
	display: block;
}