*{
  margin:0;
  padding:0;
}

li{
  list-style: none;
}

body{
  font:16px/1.5 "微软雅黑";
  color:#FFF;
}

a{
  text-decoration: none;
}

#jewelry {
  width: 200px;
}

#jewelry .item{
  line-height: 40px;
  position: relative;
  background: #c91213;

}

#jewelry .item>a{
  color:#FFF;
  display: block;
  margin-left:20px;
  border-bottom: 1px solid #FFF;
}

#jewelry #content{
  position: absolute;
  top:0;
  left:200px;
}

#content{
  display: none;
  width: 200px;
  border:1px solid #ddd;
}

#content li {
  float: left;
  text-align: center;
}

#content li a{
  display:block;
  width: 100px;
  color:#ccc;
}
