
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1463452286'); /* IE9*/
  src: url('iconfont.eot?t=1463452286#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1463452286') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1463452286') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1463452286#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianhua:before { content: "\e6ac"; }
.icon-youjian:before { content: "\e61f"; }
.icon-h5:before { content: "\e73b"; }
.icon-css3:before { content: "\e608"; }
.icon-js:before { content: "\e605"; }
.icon-nodejs:before { content: "\e6ba"; }
.icon-facebook:before { content: "\e654"; }
.icon-youtube:before { content: "\e6d7"; }
.icon-twitter:before { content: "\e74e"; }

*{
  margin:0;
  padding:0;
}
body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
html,body{
	height: 100%;
}
#header{
	display: table;
	width: 100%;
	height: 100%;	      background:url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/14/img/bg.jpg) no-repeat center center;
	background-size: cover;	
}
.headline{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
a{
  text-decoration:none;
}
.btn {
    width:80px;
    height:40px;
    line-height:40px;
	text-align: center;
    display:inline-block;
	background: #333;
	color: #fff;
	opacity: 0.3;
}
.btn:hover{
   opacity:1;
}
#header h1{
  font-size:60px;
  margin:10px;
}
#header h3{
  font-size:30px;
  margin-bottom:20px;
}
.layout{
	width: 960px;
	margin:0px auto;
}
#summary{
  height:300px
}
.text_description{
  text-align:center;
  padding:45px 0;
}
.text_description h2{
  margin:20px;
}
.text_description p{
  height:30px;
  line-height:30px;
}
#my_skills{
	background-color: #337AB7;
	color: #fff;
}
#my_skills h2{
  	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
	font-size: 1.8em;
}
#my_skills .line_style{
	width: 20%;
    display:block;
    margin:0 auto;
}
#my_skills ul:after {
	content: "";
	display: block;
	clear: both;
}
#my_skills ul{
	margin-top: 20px;
}
#my_skills li {
	margin: 10px 15px;
	width: 210px;
	float: left;
	text-align: center;
}
#my_skills span {
	display: block;
	margin: 0px auto;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #fff;
	text-align: center;
}
#my_skills .icon {
	font-size: 50px;
	color: #337AB7;
	line-height: 100px;
}
#my_skills h3 {
	padding: 10px;
}
#my_skills p {
	font-size: 16px;
}
#my_skills li a {
	background: #fff;
	color: #000;
}
#my_skills a:hover {
	opacity: 0.8;
}
ul,li{
	list-style: none;
}
li{
	float: left;
}
#vertically_photo {
	width: 100%;
	height: 400px;
	background:url(http://www.dabaoku.com/sucai/ziranlei/hf/0132.jpg) center center no-repeat;
    background-size:cover;
	text-align: center;
	line-height: 400px;
	font-size: 3.5em;
	font-weight: bold;
	color: #fff;
}
#work h3 {
	margin: 50px auto 20px auto;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}
#work ul {
	margin: 0px -10px;
}
#work ul:after {
	content: "";
	display: block;
	clear: both;
}

 #work li{
	margin: 0px 10px;
	width: 460px;
	margin: 0px 15px;
	float: left;
}
#work img {
	width: 460px;
	height: 300px;
}
#work li:hover{
	opacity: 0.8;
}
#work>a {
	display: block;
	margin: 30px auto;
	width: 125px;
	height: 35px;
	line-height: 35px;
}
#footer{
	color: #fff;
	background-color: #337AB7;
	padding-bottom: 20px;
}
#footer h2{
	text-align: center;
	margin: 20px  auto;
	padding-top: 50px;
	opacity: 0.8;
}
#footer a {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0px 10px;
}
#footer .concise_summary {
	margin: 0px auto;
	width: 300px;
}
#footer  a:first-child {
	width: 100px;
	background-color: #fff;
	color: #000;
}
#footer a:first-child:hover {
		background-color: #D1C7F4
}
#footer a:last-child {
	width: 125px;
	background-color: #5637C6;
	color: #fff;
	opacity: 0.7;
}
#footer a:last-child:hover{
	opacity: 1;
}
#contact_me .text_last {
	margin: 60px auto;
	text-align: center;
	opacity: 0.8
}
#contact_me h3 {
	margin-bottom: 10px;
}
#contact_me p:nth-child(4) {
	margin-top: 10px;

}
#contact_me a {
	color: #337AB7;
 	text-decoration: none;
}
#contact_me p:last-child {
	margin-top: 20px;
}
.btn_last {
	font-size: 40px;
	color: #0E65AF;
	margin-right: 10px;
	margin-left: 10px;
}
.btn_last:hover {
	color: #06041D;
}