html,body,ul,li{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
h1{
	font-size: 40px;
	font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none;
	color: #fff;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.width-hundred-percent{
	width: 100%;
}
.center{
	width: 1200px;
    margin: 0 auto;
}
.align-c{
	text-align: center;
}
.clear::after{
	content: "";
	display: block;
	clear: both;
}
#header{
	background: url(img2/header-bg.jpg) no-repeat;
	background-size: 100% 100%;
}
#header{
	color: #fff;
}
#header .top-nav{
	padding: 20px 0;
}
.top-nav>a.logo{
    color: #fec503;
    font-size: 32px;
    font-family: 'kanshan script','Helvetica Neue',Helvetica, Arial, cursive;
}
.top-nav>ul{
	float: right;
}
.top-nav>ul>li{
	float: left;
}
.top-nav a{
	padding: 10px 20px;
	line-height: 18px;
}
.top-nav>ul>li>a:hover{
    color: #fec503;
}
#header .predicative{
	padding: 60px 0 80px;
}
.predicative h1{
	margin-bottom: 10px;
}
.predicative h1+p{
	font-size: 80px;
	line-height: 0;
}
.predicative .btn{
	background: #fed136;
	border-radius: 4px;
	display: block;
    width: 156px;
    line-height: 44px;
    margin: 0 auto;
}
.predicative .btn:hover{
	background: #fec503;
}
#content .services{
	background: #fff;
	padding: 100px 0;
}
.services .Service-item{
	margin-top: 80px;
}
.services .Service-item li{
	width: 400px;
	float: left;
}
.Service-item .icon{
	width: 100px;
	height: 100px;
	background: #fec503;
	border-radius: 50%;
	margin: 0 auto;
}
.item1 .icon::before{
	content: url(img2/购物车.png);
	position: relative;
	top: 20px;
}
.item2 .icon::before{
	content: url(img2/笔记本.png);
	position: relative;
	top: 18px;
}
.item3 .icon::before{
	content: url(img2/锁.png);
	position: relative;
	top: 16px;
}
#content .portfolio{
	background: #f7f7f7;
	padding: 80px 0 100px;
}
.portfolio-c ul{
	margin-top: 30px;
	margin-left: -30px;
}
.portfolio-c li{
	width: 380px;
	margin-top: 30px;
	margin-left: 30px;
	background: #fff;
	padding-bottom: 10px;
	position: relative;
	float: left;
}
.portfolio-c li h2{
	margin-bottom: -16px;
}
.portfolio-c img,.hover-effect{
	width: 380px;
	height: 270px;
}
.portfolio-c .hover-effect{
	background: rgba(254,197,3,1);
	transition: background-color 1.5s;
	position: absolute;
	top: 0;
	visibility: hidden;
}
.hover-effect::before{
	content: url(img2/十字.png);
	position: relative;
	top: 102px;
}
.portfolio-c a:hover .hover-effect{
	background: rgba(254,197,3,.8);
	visibility: visible;
}
#content .about{
	padding-top: 60px;
}
.about-c ul::before{
	content: "";
	display: block;
	border: 1px solid #f1f1f1;
	width: 0;
	height: 1240px;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -1px;
	z-index: -1;
}
.about-c ul{
	margin-top: 50px;
	position: relative;
}
.about-c h1{
	margin-bottom: -8px;
}
.about-c h3{
	margin-bottom: -10px;
}
.about-c ul>li{
	width: 610px;
	margin-bottom: 120px;
}
.about-c .img-c{
	width: 156px;
	height: 156px;
	border: 8px solid #f1f1f1;
	border-radius: 50%;
	margin-top: 8px;
}
.about1 .img-c,.about3 .img-c{
    margin-left: 30px;
	float: right;
	text-align: right;
}
.about1,.about3{
	float: left;
	text-align: right;
	margin-left: 76px;
}
.about2 .img-c,.about4 .img-c{
	margin-right: 30px;
	float: left;
}
.about2,.about4{
	float: right;
	text-align: left;
	margin-right: 76px;
}
.about1 .img-c{
	background: url(img2/1.jpg) no-repeat 0;
}
.about2 .img-c{
	background: url(img2/2.jpg) no-repeat -10px -22px;
}
.about3 .img-c{
	background: url(img2/3.jpg) no-repeat -17px -10px;
}
.about4 .img-c{
	background: url(img2/4.jpg) no-repeat 0;
}
.about5{
	float: left;
	margin-left: 76px;
}
.about5 .img-c{
	display: table;
	float: right;
	background: #fec503;
	color: #fff;
}
.about5 .img-c .text{
	font-size: 22px;
	display: table-cell;
	vertical-align: middle;
}
#content .team{
	background: #f7f7f7;
	padding: 60px 0;
}
.team-c ul{
	padding: 40px 0; 
}
.team-c ul>li {
    width: 236px;
    display: inline-block;
    margin: 0 78px;
	}
.team-c .img{
     width: 220px;
     height: 220px;
     border: 8px solid #fff;
     border-radius: 50%;
}
.members1 .img{
    background: url(img2/5.jpg) no-repeat;
}
.members2 .img{
    background: url(img2/6.jpg) no-repeat;
}
.members3 .img{
    background: url(img2/7.jpg) no-repeat;
}
.team-c h2{
	margin-bottom: -14px;
}
.icon{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #000;
	border-radius: 50%;
}
.bird,.f,.in{
	height: 40px; 
}
.icon .bird{
    background: url(img2/小鸟.png)  no-repeat 8px 10px;
}
.icon .f{
    background: url(img2/f.png) no-repeat  3px 4px;
}
.icon .in{
    background: url(img2/in.png) no-repeat  9px 8px;
}
.icon:hover{
	background: #fec503;
	cursor:pointer;
}
#content .friendship-interlinkage{
	padding: 30px 0;
}
.friendship-c img{
	display: inline-block;
	margin: 0 46px 0;
}
#content .contact-us{
	background: url(img2/map.jpg) no-repeat;
	background-size: 100% 100%;
}
.contact-us-c{
	padding: 50px 0 160px;
}.contact-us-c h1+p{
	margin-top: -20px;
}
.submit-form{
	position: relative;
}
.submit-form form{
	margin-top: 60px;
}
input:focus{
    color: yellow;
}
.submit-form input{
	display: block;
}
 .submit-form .left,.submit-form textarea{
	width: 576px;
	padding-left:10px; 
	border: 1px solid #ccc;
	border-radius: 4px;
}
.submit-form .left{
	height: 50px;
	margin-top: 20px;
}
.submit-form textarea{
	float: right;
	box-sizing: border-box;
	width: 586px;
	height: 204px;
	padding: 10px;
	margin-top: -203px;
}
.submit-form .btn{
	width: 128px;
	height: 50px;
	border: none;
	border-radius: 4px;
	background: #fed136;
	position: absolute;
	top: 230px;
	left: 50%;
	margin-left: -64px;
}
.submit-form .btn:hover{
	cursor: pointer;
	background: #fec503;
}
 .footer-c{
	padding: 50px 0;
}
.copyright, .icon-c,.other-terms{
    width: 400px;
	float: left;
}
.copyright,.other-terms{
	line-height: 40px;
}
.other-terms a{
	color: #fed383;
}
.other-terms a:hover{
	color: #fec503;
	text-decoration: underline;
}
