
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1464615278'); /* IE9*/
  src: url('iconfont.eot?t=1464615278#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1464615278') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1464615278') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1464615278#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:80px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icon:before { content: "\e608"; }
.icon-cloud:before { content: "\e619"; }
.icon-erlenmeyerflask:before { content: "\e7cf"; }
.icon-baohu2:before { content: "\e604"; }
.icon-qq:before { content: "\e60f"; }
.icon-xinlang:before { content: "\e618"; }
.icon-weixin:before { content: "\e626"; }
.icon-dianhua:before { content: "\e604"; }
.icon-youjian:before { content: "\e694"; }
