/*公有CSS*/
html,body,ul,li{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "微软雅黑";
	font-size: 14px;
}
a{
	text-decoration: none;
}
.clear:after{
	content: "";
	display:block;
	clear: both;
}
ul{
	list-style: none;
}
.text-vertical-center{
	
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.layout{
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
}

.btn{
	
	background-color: rgba(0,0,0,0.4);
	color: white;
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	padding: 0 10px;
	margin: 10px;
}
.btn:hover{
	opacity: 0.7;
}
/*header*/
#header{
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	display: table;
}
#header h1{
	font-size: 50px;
}
#header p{
	font-size: 20px;
}

#header a{
	color: black;
}


/*self-intro*/
#self-intro{
	width: 100%;
	background-color: #fff;
	display: table;
	text-align: center;
	
}
#self-intro .text-intro{
	padding: 10px 50px;
	margin: 0 auto;
}
#self-intro .text-intro h3{
	font-size: 30px;
}
#self-intro .text-intro p{
	font-size: 18px;
}
/*services*/
#services{
	background-color: #337ab7;
	color: white;
	padding: 20px;
}
#services span{
	display: inline-block;
	height: 100px;
	width: 100px;
	border:2px solid white;
	border-radius: 100px;
}
#services h3{
	font-size: 30px;

}
#services hr{
	width: 180px;
}
#services ul{
	margin: 0 auto;
}
#services li{
	float: left;
	width: 240px;
}
#services a{
	color: black;
}


/*personality*/

#personality{
	background: url(../img/callout.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 400px;
	display: table;
	color: white;

}

/*works*/
#works{
	padding: 30px;
}
#works li{
	width: 460px;
	float: left;
	padding: 10px;
}
#works li:hover{
	opacity: 0.5;
}
#works img{
	width: 460px;
}
#works a{

}
#works a:hover{
	background-color: rgba(0,0,0,0.7);
}

/*others*/
#others{
	background-color: #337ab7;
}

/*footer*/
#footer ul{

}
#footer li{
	display: inline-block;
	padding: 5px;
}
#footer i{
	color: #337ab7;
}
#footer p i{
	font-size: 16px;
}
#footer a:hover{
	opacity: 0.7;
}
#footer hr{
	width: 200px;
}










