@font-face{
	font-family: 'KaushanScript';
	src: url(KaushanScript-Regular.otf);
}
@font-face{
	font-family: 'Droid Serif';
	src: url(DroidSerif-Italic.ttf);
}
@font-face{
	font-family: 'Roboto Slab';
	src:url(RobotoSlab-Regular.ttf);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,html{
	width: 100%;
	height: 100%;
}
body{
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
ul{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
i{
	color: inherit;
	font-size: inherit;
}
h2{
	font-family: 'Droid Serif';
	margin: 15px 0 75px 0;
	font-size: 16px;
	color: #777;
}
h3{
	font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h4{
	font-size: 18px;
	font-weight: 700;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.1;
}

h4.design{
	font-size: 16px;
	color: #777;
	font-family: 'Droid Serif';
	line-height: 1.75;
}



.container{
	width: 1170px;
	margin: 0 auto;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.clearfix{
	*zoom:1;
}

.btn{
	display: inline-block;
	background: #fed136;
	padding: 20px 40px;
	font-size: 18px;
	border-radius: 4px;
	border: 1px solid #fed136;
	text-transform: uppercase;
	color: #fff;
	font-weight:  700;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.btn:hover{
    background-color: #fec503;
    border-color: #f6bf01;
}


nav{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	min-height: 70px;
	background: transparent;
	padding: 25px 0 30px 0;
	color: #fff;
}
nav .logo{
	display: block;
	float: left;
	font-size: 2em;
	color: #fed136;
	font-family: "KaushanScript";
}
nav .nav-list{
	float: right;
	padding-top: 2px;
}
nav .nav-list .item{
	float: left;
	padding: 10px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: all .5s;
}
nav .nav-list .item:hover{
	color: #fed136;
}

header{
	width: 100%;
	height: 100%;
	background: url(../image/code3/header-bg.jpg) center center no-repeat scroll;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding-top: 300px;
	padding-bottom: 200px;
}
header h1{
	font-size: 75px;
	line-height: 75px;
	margin-bottom: 50px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
header h2{
	margin-bottom: 25px;
	font-size: 40px;
	color: #fff;
}


section{
	padding: 150px 0;
	text-align: center;
}

section  p{
	/*font-family: 'Droid Serif';
	margin: 15px 0 75px 0;
	font-size: 16px;
	color: #777;*/
}
p{
	font-size: 14px;
	color: #777;
	line-height: 1.75;
}

#services .services-list{
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
}
#services .services-list .services-item{
	width: 33.333333%;
	padding: 0 15px;
	margin-bottom: 30px;
	float: left;
}
#services .services-list .services-item .icon-wrap{
    position: relative;
    left: 50%;
    margin-left: -50px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	color: #fff;
	background-color: #fed136;
	border-radius: 100%;
}
.icon-wrap i{
	font-size: 50px;
}
.services-item h4{
	margin:30px 0;
}
.services-item p{
	font-size: 14px;
	line-height: 1.75;
	color: #777;
	margin-bottom: 10px;
}

#porifolio{
	background: rgb(247,247,247);
}
#porifolio .p-list{
	margin-left: -15px;
	margin-right: -15px;
}
#porifolio .p-list .p-item{
	float: left;
	width: 33.333333%;
	padding: 0 15px;
	margin-bottom: 30px;
}
.p-item .p-img{
	/*max-width: 100%;*/
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
.p-item .p-img img{
	width: 100%;
	height: 100%;
}
.p-item .p-caption{
	padding: 25px 0;
	background: #fff;
}


.p-item .p-img .p-img-hover{
  visibility:hidden;
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(254,209,54,0);
  transition:background 0.3s;
  text-align: center;
}
.p-item .p-img:hover .p-img-hover{
  visibility:visible;
  background: rgba(254,209,54,0.9);
}
.p-item .p-img .p-img-hover i {
    color: #fff;
    font-size: 5em;
    line-height: 100px;
    font-weight: 700;
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}



#about .about-list{
	position: relative;
}
#about .about-list:before{
	  display:block;
	  content:'';
	  width: 2px;
	  position:absolute;
	  top:0;
	  bottom:0;
	  left:50%;
	  margin-left:-1px;
	  background: #f1f1f1;
	  z-index:-1;
}
.about-list .about-item{
	margin-bottom: 100px;
	position: relative;
}
.about-list .about-item .about-img{
	position: absolute;
	left: 50%;
	margin-left: -85px;
	width: 170px;
	height: 170px;
	background: #fed136;
	color: #fff;
	border: 7px solid #f1f1f1;
	border-radius: 100%;
}

.about-list .about-item .about-img img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.about-list .about-item .about-img h4{
	text-transform: uppercase;
    line-height: 26px;
    margin-top: 39px;
}
.about-list .about-item .about-des{
	float: left;
	width: 41%;
	text-align: right;
	line-height: 1.47;
	font-size: 14px;
	padding: 0 20px 20px 100px;
}
.about-list .about-item-inverted .about-des{
    float: right;
    padding: 0 100px 20px 20px;
    text-align: left;
}

.about-list .about-item .about-des h4{
    margin-bottom: 10px;
}


#team{
	background: rgb(247,247,247);
}
#team .team-list{
	margin: 0 -15px;
}
#team .team-list .team-item{
	float: left;
	width: 33.333333%;
	padding: 0 15px;
}
.team-list .team-item img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	border: 7px solid #fff;
	border-radius: 50%;
	margin-bottom: 25px;
}

.team-list .team-item p{
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 10px;
}
.inline-list li{
	display: inline-block;
	padding: 0 5px;
}
.inline-list li a{
	display: block;
	width: 40px;
	height: 40px;
	background: #333;
	color: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	transition: all 0.5s;
}
.inline-list li a:hover{
	background: #fed136;
}
.inline-list i{
	font-size: 20px;
	font-weight: 700;
}
#team .text{
	width: 64%;
	margin: 0 auto;
	margin-top: 50px;
	font-size: 16px;
}

.clients{
	padding: 0;
}
.clients .client-list{
	margin: 0 -15px;
}
.clients .client-list li{
	float: left;
	width: 25%;
	padding: 50px 15px;
}


#contact{
	background-color: #222;
	background-image: url(../image/code3/map-image.png);
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
}
#contact form{
	width: 100%;
	margin: 0 -15px;
}
#contact .col{
	float: left;
	width: 50%;
	padding: 0 15px;
	margin-bottom: 25px;
}
#contact input,textarea{
	padding: 20px;
	font-size: 14px;
	line-height: 1.4;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 25px;
	outline: 0;
}
#contact input:focus,textarea:focus{
	border-color: #fed136;
}


footer{
	margin: 20px auto;
	text-align: center;
}
footer .col{
	float: left;
	width: 33.3333%;
	font-weight: bolder;
}
footer .quicklinks a{
	color: #fed136;
}
footer .quicklinks a:hover{
	text-decoration: underline;
}
footer .quicklinks a:nth-child(2){
	margin-left: 10px;
}
footer p{
	line-height: 40px;
}