.btn{
	font-size: 20px;
	text-decoration: none;
	padding:15px;
	border-radius: 3px;
	display: inline-block;
}

.btn-bg-gray{
	color: white;
	background: rgba(0,0,0,0.5);
}

.btn-bg-gray:hover{
	background: rgba(0,0,0,0.8);
	transition: all .5s;
}

.btn-bg-white{
	color: black;
	background: #fff;
}

.btn-bg-white:hover{
	background: rgba(255,255,255,0.8);
	transition: all .5s;
}
