
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1462580265'); /* IE9*/
  src: url('iconfont.eot?t=1462580265#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1462580265') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1462580265') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1462580265#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-diannao:before { content: "\e648"; }
.icon-lock:before { content: "\e612"; }
.icon-facebook:before { content: "\e618"; }
.icon-tuitetwitter43:before { content: "\e724"; }
.icon-in:before { content: "\e60d"; }
.icon-gouwuche:before { content: "\e654"; }
