*{
	margin: 0;
	padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
#main-wrap{
	display: inline-block;
	text-align: center;
	width: 850px;
	position: absolute;
	top: 33px;
}
#title-wrap{
	border: 1px solid #ccc;
	overflow: hidden;
	display: inline-block;
	font-size: 12px;
	padding:0 5px;
}
#title-wrap>li{
	float: left;
	padding: 10px 5px;
}
.a-border{
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 0 10px;
}

.first-page{
	border: 1px solid #ccc;
	display: inline-block;
}
.first-page>li{
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;

}
.second-page{
	border: 1px solid #ccc;
	display: none;
}
.second-page>li{
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;

}
.thirdly-page{
	border: 1px solid #ccc;
	display: none;
}
.thirdly-page>li{
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;

}
.btn{
	border:1px solid red;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	left: 100px;
	top: 75px;
	display: none;
	width: 50px;
	border-radius: 3px;
	background-color: #fff;
}
.page-wrap{
	width: 220px;
	text-align: center;
	float: left;
	position: relative;
	margin: 10px;
	border:1px solid #ccc;

}
.price{
	color: red;
	padding: 20px 0;
	opacity: 
}
.background{
	position: absolute;
	background-color: #eee;
	display: inline-block;
	width: 220px;
	height: 200px;
	top:10px;
	left:20px;
	opacity: 0;
}
.btn-background{
	background-color: #ccc;
	color: red;
}