*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.float{
	float: left;
	padding: 0 20px;
	border: 1px solid black;
	background-color: gray;
}
.wrap{
	overflow: hidden;
	text-align: center;
}
.float > li{
	display: none;
	background-color: gray;
	color: #fff;
	padding:5px 10px;
}
.float:hover .child{
	display: block;
	cursor: pointer;
}