  li{list-style: none;}
  a{text-decoration: none;}
  html,body,div,ul,li{
    margin: 0;
    padding:0;
    font-family: "微软雅黑",sans-serif;
  }
  .layout{
    width: 1000px;
    margin: 0 auto;
  }

/*header部分css*/
  #header{
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }
  .nav .nav-item>li{
    position: relative;
    float: left;
    font-size: 14px;
    padding:0 20px;
    line-height: 50px;

  }
  .nav .nav-item>li:first-child{ font-size: 20px; }
  .nav .nav-item{ position: relative;}
  .nav .nav-item span{
    display: block;
    position: absolute;
    top:50%;
    right: 10px;
    margin-top: -2px;
    border-top: 5px solid red;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  .nav-item>li a{color:#777;}
  .nav-item>li a:hover{ color:#000; }

  .work>li a{ color: #000; }
  .nav .work{
    position: absolute;
    left: 0;
    width: 140px;
    line-height: 30px;
    text-indent: 15px;
    padding-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
  }

  .work .work-child:hover{ background-color: #eee; }
  .nav-item li:nth-child(2):hover .work{ display: block; }
  .work li:nth-child(4){
    line-height: 40px;
    font-size: 12px;
    border-top: 1px solid #ccc;
    color: #ccc;
  }



/*主题内容部分css*/
  /*第一部分主体css*/
  #main{margin-top: 50px;}
  #main .setting-img{
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/thumb_DSC00171_1024.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .setting-img h1{
    font-size: 50px;
    color: #666;
  }
  .setting-img p{
    font-size: 25px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
  }
  /*第二部分主体css*/
  .main-nav{
    font-size: 15px;
    background-color: #eee;
    border-radius: 5px;
    padding:10px 0;
    margin-top: 40px;

  }
  .main-nav a{
    color: #9c5333;
    padding-right: 8px;
    margin-left: 15px;
  }
  .main-nav a:hover{
    color: #333;
    text-decoration: underline;
  }
  .main-nav span{color:#aaa;}

  /*第三部分作品展示css*/
  .main-items>ul {margin-left: -42px;}
  .main-items>ul:after{
    content:" ";
    display: block;
    clear: both;
  }
  .main-items .main-work{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 30px;
    float: left;
    margin-left: 45px;
    margin-top: 30px;
  }
  .main-work a:nth-child(4){
    color: #444;
    border: 1px solid #444;
    border-radius: 3px;
    padding:5px 10px;
  }
  .main-work a:hover{
    background-color: #eee;
  }
  .main-work img{
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .main-work img:hover{opacity: 0.6;}

/*页面脚部CSS*/
  #footer .setting-back{
    background-image: url(../img/thumb_DSC00104_1024.jpg);
    background-repeat: no-repeat;
    background-position: 0 40%;
    background-size: cover;
  }
  #footer .layout>p{
    padding: 80px 0;
    text-align: center;
  }
