*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
#carousel{
	width: 300px;
	height: 150px;
	overflow: hidden;
	position: relative;
	margin-left: 300px;
}
.img-ct{
	position: absolute;
}
.img-ct > li{
	float: left;
}
.img-ct > li img{
	width: 300px;
	height: 150px;
}
.img-ct:after{
	content: "";
	display: block;
	clear: both;
}
.playnext{
	position: absolute;
	display: inline-block;
	background-color: #666;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	top: 50%;
	right: 5%;
	margin-top: -15px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.backplay{
	position: absolute;
	display: inline-block;
	background-color: #666;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	top: 50%;
	left: 5%;
	margin-top: -15px;
	text-align: center;
	line-height: 30px;
	color: #fff;
}
.bullet{
	position: absolute;
	bottom: 5%;	
	left: 50%;
	transform: translateX(-50%);
}
.bullet li{
	display: inline-block;
	width:20px;
	height: 5px;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
}
.bullet li.active{
	background-color: #666;
}
