body,box{
	margin: 0;
	padding: 0;
}
.box{
	width: 200px;
	height: 150px;
	border:1px solid #ccc;
	position: relative;
	margin: 40px;
}
.sth1{
	width: 0;
	height: 0;
	border:20px solid #fff;
	border-bottom: 20px solid gray;
	position: absolute;
	bottom:100%;
	left: 10px;
}
.sth2{
	width: 
	height: 0;
	border:20px solid #fff;
	border-color: red red white white;
	position: absolute;
    right:0px;
    top: 0px;
}
.sth3{
	width: 0;
	height: 0;
	border:19px solid;
	border-color: transparent transparent white transparent;
	position: absolute;
	bottom:100%;
	left: 11px;
}
