@font-face {font-family: "font-awesome";
			src:url(Font-Awesome-3.2.1/font/fontawesome-webfont.ttf),
			url(Font-Awesome-3.2.1/font/fontawesome-webfont.woff);
}
body,ul,p,h1,h2,li，div{font-size: 14px;
	margin: 0px;
	padding:0px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
 li {
 	list-style-type: none;
 }
 .layout {
 	width: 1000px;
 	margin: 0px auto;
 }
 .clearfix::after {
	content: "";
	display: block;
	clear: both;
 }
#top {
	position: fixed;
	top:0px;
	left:0px;
	right: 0px;
	z-index: 1;
	border-bottom: 1px solid #fff;
	background-color: #fff;
	}
#top>ul>li {
	float:left;
	height: 30px;
	line-height: 30px;
	margin-right: 30px;
	opacity: 0.6;
}
#top li:first-child {
	font-size: 1.2em;
}
#top li a {
	color: black;
	text-decoration: none;
}
#top li ul {
	border: 1px solid #eee;
	width: 150px;
	margin-left: -20px;
}
#top .work li {
	height: 35px;
	width: 150px;
	margin-bottom: 5px;
}
#top li ul {
	position: absolute;
	top:100%;
	display: none;
}
#top .work li {
	height: 35px;
	width: 150px;
	border-top: 1px solid #9a9a9a;
	opacity: 1;
}
 #top li:hover ul { 
	display:block;
	background-color: #fff;
	}
 .work li:hover  { 
	background-color: #d7befc;
	opacity: 1;
}
 .work li a {
	padding-left: 15px;
 }
  .work li i {
  	padding-right: 5px;
  }

#header{
	height: 200px;
	width: 100%;
	background-color: #B84D45;
	margin-top: 30px;
}

#header h1 {
	color: #ebe8e9;
	font-size: 4em;
}
#header p {
	color: #ebe8e9;
	font-size: 1.5em;
	line-height:30px;
}
#nav { 
	margin: 30px auto 10px auto;
	height: 30px;
}
#nav {
	font-size: 1.1em;
	padding: 5px;
	background-color:#F5F5F5;
	opacity: 0.6;
}
#nav  span {
	font-size: 1.2em;
	color: #7b7a7a;
	padding-right: 5px;
}
#nav  a {
	color: #cf0233;
	font-size: 1.1em;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 8px;
}
#nav  a:hover {
	text-decoration: underline;
}
#main ul {
	margin: 0px -8px;
	background-color: red;
}
#main ul li {
	margin: 0px 8px;
	float: left;
	width: 320px;
	border: 1px solid #ccc;
	opacity: 0.8;
}
#main ul a {
	display: block;
}
#main ul a img {
	width: 312px;
	height: 206px;
	margin: 4px;
}
#main ul a img:hover {
	background:#000;
	opacity:.5;color:#fff;
}
#main ul h2 {
	font-size:1.8em;
	margin:30px auto;
	text-align: center; 
}
#main ul p {
	margin:10px 20px;
	text-align:center;
}
.find{
	display: block;
	margin: 25px auto;
	height: 30px;
	width: 50px;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: black;
	line-height: 30px;
	font-size: 1.2em;
	text-decoration: none;
	text-align: center;
}
.find:hover{
	background-color: #e1e0fc;
}
#footer{
	height: 150px;
	margin: 20px 0px;
	background-color: #B84D45;
}
#footer div  {width: 1000px;
	margin: 70px auto;
	color: white;
	vertical-align: center;
		}
#footer div h1{
	font-size: 2.5em;
	text-align: center;
	padding-top:50px;
}
#footer div p{
	font-size: 1.3em;
	text-align: center;
	padding:10px;
}
#botn {
margin: 70px 0px;
}
#botn div {
	width: 1000px;
	margin: 0px auto;
	vertical-align: center;
	border-top:1px solid #c9c8c8;
}
#botn div p {text-align: center;
	padding-top:50px;
}	
#botn div a {font-size: 1.1em;
	text-decoration:none;
	color: #b45252;
}
#botn div a:hover {
	text-decoration: underline;
	color: #b45252;
}