html,
body,
ul,
li,
p,
h4,
h2 {
	margin: 0;
	padding: 0;
}
body { font-family: 'Arial Narrow'; }
li { list-style: none; }
a {
	text-decoration: none;
	color: #fff;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.btn {
	display: inline-block;
	padding:20px 40px;
	font-size:20px;
	font-weight: bold;
	background-color: #FDD035;
	border-radius: 5px;
}
.btn:hover { background-color: #FEC503; }
/*header start*/
#header {
	background:url(../images/header-bg.jpg) no-repeat;
	background-size: cover;
}
#header .nav-wrap {
	position: fixed;
	left: 0;
	right:0;
	padding: 25px 0;
	background-color: rgba(40,39,44,.3);
}
.nav-wrap .home-page {
	font-family: 'Brush Script MT';
	font-size: 36px;
	color: #FEC810;
}
.nav-wrap .nav { float: right; }
.nav-wrap .nav>li { float: left; }
.nav li>a {
	display: inline-block;
	padding:0 20px;
}
.nav li>a:hover { color: #FEC810; }
#header .intro {
	padding-top: 300px;
	padding-bottom: 200px;
	text-align: center;
	color:#fff;
}
.intro .welcome {
	margin-bottom: 20px; 
	font-family: 'Rockwell Italic';
	font-size:42px;
}
.intro .nice {
	margin-bottom: 30px;
	font-size:80px;
	font-weight: bold;
}
/*header end*/

/*content start: ;*/
#content .content-wrap {
	padding: 140px 0;
	text-align: center;
}
.content-wrap:nth-of-type(2n) { background-color: #F7F7F7; }
.title {
	font-size: 36px;
	margin-bottom: 20px;
}
.sub-title {
	margin-bottom: 70px;
	font-size: 18px;
	font-family: 'Times New Roman';
	font-style: italic;
	color: #8C8C8C;
}
/* content>services*/
.services { margin-left: -45px; }
.services .ser-list {
	float: left;
	width:370px;
	margin-left: 45px;
}
.ser-list .list-icon {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
}
.ser-detail {
	color: #777;
	font-weight: normal;
}
/*content>protfolio*/
.portfolio { margin-left: -30px; }
.portfolio .port-list {
	position: relative;
	float: left;
	width: 380px;
	height: 380px;
	margin-left: 30px;
	margin-bottom: 30px;
	background-color: #fff;
}
.port-list .port-thumb{ width: 100%; }
.port-shade:hover { opacity: 1; }
.port-shade {
	position: absolute;
	width:100%;
	height: 275px;
	line-height: 275px;
	font-size:50px;
	color:#fff;
	background-color:rgba(254,200,16,.9);
	opacity: 0;
}
/*content>about*/
.about-history { position: relative; }
.about-history:before {
	content: "";
	position: absolute;
	background-color: #F1F1F1;
	width:2px;
	height:90%;
	top: 0;
	left: 50%;
	bottom: 0;
}
.about-history>li {
	position: relative;
	width:850px;
	padding:0 90px;
	margin-bottom: 80px;
	box-sizing:border-box;
	z-index: 1;

}
.about-history>li:last-child { margin-bottom: 0; }
.about-history h4 {
	margin-bottom: 10px;
	font-size: 18px;
}
.about-history p {
	font-size: 18px;
	color:#8C8C8C;

}
.right { margin-left: 350px; }
.about-left {
	float: left;
	width:350px;
	text-align: right;
}
.about-right {
	float: right;
	width:350px;
	text-align: left;
}
.about-img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 7px solid #F1F1F1;
}
.about-end { margin-bottom: 0px; }
.about-end .about-img {
	margin-left: 426px;
	color:#fff;
	background-color:#FDD035;
}
.about-img h4{ margin-top:40px; }
/*content>team*/
.team {
	margin-left: -60px;
	margin-bottom: 30px;
}
.team-member {
	float: left;
	width: 360px;
	margin-left: 60px;
}
.team-member h3 {
	margin-top:20px;
	margin-bottom: 5px;
}
.team-member p,
.epilogue {
	font-family: 'Times New Roman';
	font-size:18px; 
	color: #8C8C8C;
}
.member-img {
	border-radius: 50%;
	border:8px solid #fff;
}
.member-cite>li {
	display: inline-block;
	padding:5px;
	font-size:40px;
}
.member-cite .member-icon { color:#222; }
.member-cite .member-icon:hover { color:#FDD035; }
/*content>client*/
.client { padding: 50px 0; }
.client-list { margin-left: -40px; }
.client-list>li {
	float: left;
	width:270px;
	margin-left: 40px;
}
/*content>contact*/
#contact {
	background-color: #000;
	background-image: url(../img/map-image.png);
}
#contact .title { color: #fff; }
.info { margin-left: -40px; }
.info-content {
	width:580px;
	float: left;
	margin-left: 40px;
}
.info-basic,
.info-msg {
	width: 100%;
	padding: 20px;
	font-size:14px;
	font-weight: bold;
	color: #555;
	box-sizing:border-box;
	border-radius: 5px;
	outline-color: #FDD035;
}
.info-basic {
	display: block;
	margin-bottom: 25px;
}
.info-msg { height: 230px; }
/*content end*/

/*footer start*/
#footer {
	padding: 20px 0;
	line-height: 45px;
	text-align: center;
}
.ft-msg { margin-left: -150px; }
.ft-msg>li {
	float: left;
	width: 300px;
	margin-left: 150px;
}
.msg-other { color: #FDD035; }
.msg-other:hover {
	color: #FEC503;
	text-decoration: underline;
}
/*footer end*/