/*代码题1*/
* {
	margin: 0; padding: 0;
}
body{
	padding: 20px;
}
#header{
	width: 200px;
	height: 80px;
	border: 1px solid #ccc;
	margin:0 auto;
}
#header p{  
	color: #f0f;
	text-align: center;
	line-height: 80px;
}
/*代码题2*/
.dialog{
	border: 1px solid #ccc;
	margin: 20px 0 ;
	text-align:center;
}/*头部*/
a {
    text-decoration: none;
}
.header{
	height: 40px;
	padding: 0 0 0 10px;
	font-size: 16px;
	color: #f00;
	text-align: left;
	border-bottom: 1px #ccc solid;
}
/*内容*/
.content{
	height: 100px;
}
.content a:hover{
	color: red;
}
/*页脚*/
.footer{
	height: 50px;
	
}
.footer .btn{
	border: 1px solid #ccc ;
	border-radius: 3px;
	padding: 4px 3px;
	display:inline-block;
}
/*代码3*/
table{
	border-collapse:collapse;
}
th,td{
    border: 1px solid #ccc;
    height: 50px;
    width: 500px;
    text-align: center;
}
th{
	background-color: #22aaaa;
}