*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	border:5px solid;
	border-color: #777 transparent transparent transparent;
	position: relative;
	left: 67px;
	top: -3px;
}
#navigation{
	padding: 30px;
}
#navigation a{
	color: #777;
}
.first-line{
	float: left;
	padding-right: 20px;
}
.second-line{
	text-align: center;
	display: none;
	background-color: #fff;
	padding: 0 10px;
	margin-top: -4px;
}
.first-line:hover .second-line{
	display: block;
}
/*导航栏*/
#head{
	background-color: #b84d45;
	color: #fff;
	padding: 80px 40px;
	line-height: 40px;
}
#head h1{
	font-size: 50px;
	padding-bottom: 10px;
}
#head h2{
	font-size: 25px;
}
/*头部*/
#main{
	width: 85%;
	margin:  auto;
	text-align: center;
}
#main:after{
	content: "";
	display: block;
	clear: both;
}
.main-head{
	background-color: #f5f5f5;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.main-head:after{
	content: "";
	display: block;
	clear: both;
}
.main-head li{
	float: left;
}
.homepag-hover{
	color: red;
}
.homepag-hover:hover{
	color: #000;
	text-decoration: underline;
}
.box{
	text-align: center;
	width: 350px;
	border: 1px solid #dddddd;
	padding: 5px;
	float: left;
	margin: 15px;
}
.img1{
	background: url(http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/templates/creative.jpg) center center;
}
.img2{
	background: url(http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/templates/agency.jpg) center center;
}
.img3{
	background: url(http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/templates/freelancer.jpg) center center;
}
.img4{
	background: url(http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/templates/grayscale.jpg) center center;
}
.img5{
	background: url(http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/templates/landing-page.jpg) center center;
}
.img6{
	background: url(http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/templates/stylish-portfolio.jpg) center center;
}
.img7{
	background: url(http://sbootstrap.startbootstrapc.netdna-cdn.com/assets/img/templates/full-width-pics.jpg) center center;
}
.img{
	background-size: cover;
	width: 350px;
	height: 300px;
	margin-bottom: 30px;
	border: 1px solid #dddddd;
}
.img:hover{
	opacity: 0.8;
	cursor: pointer;
}
.box h4{
	margin: 20px 0
}
.box a{
	border: 1px #dddddd solid;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	color: #000;
	display: inline-block;
	margin-bottom: 20px;
}
.box a:hover{
	background-color: #777;
}
/*main*/
#bottom{
	text-align: center;
	background-color: #b84d45;
	padding: 20px;
	color: #fff;
	line-height: 50px;
	margin: 50px 0;
}