@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-05-28 14:23:58
 * @version $Id$
 */

/* reset */
* {
	margin: 0;
	padding: 0;
}
li { list-style: none; }
a { text-decoration: none; }
body {
	box-sizing: border-box;
	font-family: "微软雅黑";
}
/* end reset */


/* public */
.layout {
	width: 1170px;
	margin: 0 auto;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.fl { float: left; } 
/* end public */


/* header */
#header .wrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 52px;
	background: #fff;
}
.myinfor { margin-top: 2px; }
.myinfor>li {
	float: left;
	padding: 15px 15px 15px 0;
}
a.jrg {
	padding:15px;
	margin-left: -15px;
	color: #777;
	font-size: 18px;
}
.myinfor>li>a {
	color: #777;
	padding-right: 15px;
	padding-left: 15px;
}
.myinfor>li>a:hover { color: #333; }
li.mywork { position: relative; }
li.mywork:hover ul.dropdown-menu { display: block; }
ul.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 120px;
	background-color: #fff; 
	border:1px solid #777;
	border-radius: 0 0 4px 4px;
	display: none;
	text-align: center;
	margin-top: -1px;      /*处理下拉菜单留白*/    
}
ul.dropdown-menu a { color: #333; }
ul.dropdown-menu a:hover { color: #b84d45; }
li.divider {
	height: 1px;
	background-color: #E5E5E5;
}
ul.dropdown-menu li {
	margin-top: 8px;
	margin-bottom: 8px;
}
li.work4 a {
	font-size: 14px;
	color: #777;
}


.desc {
	padding-top: 102px;
	padding-bottom: 50px; 
	background-color: #b84d45;
	color: #fff;
}
.desc h1 {
	font-size: 60px;
	margin-bottom: 10px;
}
.desc p { font-size: 24px; }
/* end header */


/* content */
#content { padding-top: 50px; }
div.index { margin-bottom: 30px; }
ul.displaybar li { float: left; }
ul.displaybar a { color: #777; }
li.index a { color: #b84d45; }
li.index a:hover { text-decoration: underline; }
li.index:after {
	content: '/';
	display: inline-block;
	color: #ccc;
	margin-left: 8px;
	margin-right: 8px;
}


ul.preview { margin-left: -30px; }
ul.preview li {
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	width: 350px;
	padding:4px;
	border:1px solid #ddd;
	border-radius: 4px;
}
a.view img {
	width: 348px;     /*这里不能设置成100%，因为还有边框的宽度*/
	border:1px solid #e6e6e6;
}
a.view:hover { opacity: .7; }
div.discribe {
	padding:9px;
	text-align: center;
}
div.discribe h3 {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 15px;
}
div.discribe p {
	margin-bottom: 15px;
	color: #777;
}
a.see {
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 20px;
	border:1px solid #ddd;
	border-radius: 4px;
	color: #333;
}
a.see:hover {
	background: #e6e6e6;
	border-color: #adadad;
}
/* end content */


/* footer */
#footer { 
	text-align: center; 
	margin-top: 70px;
}
.contact {
	background-color: #b84d45;
	color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}
.contact h2 {
	font-size: 30px;
	margin-bottom: 10px;
}
.contact p{ font-size: 18px; }


#footer hr {
	margin-top: 60px;
	margin-bottom: 20px;
	color: #eee;                 /*颜色无效*/
}
p.infor { 
	margin-bottom: 60px;
	color: #777; 
}
p.infor a {	color: #b84d45; }
p.infor a:hover { text-decoration: underline; }
/* end footer */
