body{
	padding: 0;
	margin: 0;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
}
div{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.top-content{
	display: table;
	height: 660px;
	background:url(images/bg.jpg) no-repeat;
	width: 100%;
	background-size:cover; 
	text-align: center;
	color: #343537;
}
.top-content h1{
	font-size:60px;
}
.vertical-center{
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
.btn{
	padding: 13px;
	background: rgba(109, 125, 132,0.4);
	color: #777;
	display: inline-block;
}
.btn:hover{
	opacity: 0.7;
}
.intro-text{
	text-align: center;
	padding: 30px 0;
	color: #4d4d4d;
}
.clearfix::after{
	content:"";
	display: block;
	clear: both;
}
.services{
	background-color: #337AB7;
	width: 100%;
	display: table;
	text-align: center;
	color: white;
	padding: 70px 0;
}
.services-list{
	display: inline-block;
	padding-left: 0;
}
.service-item{
	float: left;
	width: 230px;
	margin:10px; 
}
.iconfont{
	color:#337AB7;
	font-size: 70px !important;
	line-height: 100px;
}
.round-wrap{
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: white;
	border-radius: 50px;
	text-align: center;
}
.services .btn{
	background-color:white;
	padding:7px;
}

.services hr{
	width: 100px;
}
.demo-picture{
	height:400px; 
	background: url(images/callout.jpg) 0px -70px no-repeat;
	background-size: cover;
	display: table;
	width: 100%;
	text-align: center;

}
.demo-picture .vertical-center>p{
	font-size: 100px;
	color: white;
}
.work{
	text-align: center;
}
.work-pictures{
	margin-top: 50px;
}
.work-pictures hr{
	width:100px;
}
.work-pictures a{
	display: inline-block;
	margin: 10px;
	font-size: 0;
}
.work-pictures a:hover{
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.work .btn{
	margin: 30px 0; 
}
.click-part{
	display: table;
	width: 100%;
	text-align: center;
	background-color: #337AB7;	
	color: white;
	padding: 50px 0;	
}
.click-part .btn.first{
	background: white;
	color: #1C486A;
	margin: 0 10px;	
}
.click-part .btn.second{
	background:#1C486A;
	color: white;
	margin: 0 10px;	
}
.footer{
	text-align: center;
	font-size: 14px;
	padding: 50px 0;
}
.footer .iconfont{
	font-size: 40px !important;
	margin: 10px;
}
.footer .iconfont:hover{
	color: #23527C;
}
.footer hr{
	color: #ccc;
	width: 60px;
}
.footer .copyright{
	color: #999
}