@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1467359163_3412912.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1467359163_3412912.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1467359163_3412912.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1467359163_3412912.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1467359163_3412912.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                                    
html,body,div,p,h1,h2,h3,h4,ul,li,input,form,textarea,button{
	margin: 0;padding: 0;
	box-sizing: border-box;
}
html,body{
	width:100%;
	height:100%;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
button{
	border:none;
}
.iconfont{
    width:40px;
    color:#222;
	/*float: left;*/
	/*display: block;*/
	font-size: 40px;
    line-height: 34px;
    font-style:normal;
    -webkit-text-stroke-width: 0.2px;
    font-family:"iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont:hover{
	color:#fed136;
}
.wrap{
	width:1170px;
	margin: 0 auto;
	/*outline: 1px solid #FFF;*/
	text-align: center;
}

#header{
	width: 100%;
	height:757px;
	background: url(header-bg.jpg) no-repeat center center;
	background-size: cover;/*这一句一定要写在上面那句后面*/
}
#header .nav{
	height:100px;
	width:100%;
	background-color: transparent;
	/*outline: 1px solid #FFF;*/
}
#header .nav:after{
	content:'';
	display: block;
	clear: both;
}
#header .logo{
	float: left;
	color:#fed136;
	font-size: 32px;
	margin:30px 0 20px 0px;
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
#header .logo:hover{
	color:#fec503;
}
#header .nav ul{
	float:right;
	margin:40px 0 20px 260px;
}
#header .nav li{
	color:#FFF;
	float: left;
	font-size: 18px;
	margin-right: 20px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header .nav li a{
	color:#FFF;
}
#header .nav li a:hover{
	color:#fed136;
}
#header .intro{
	padding:200px 0 200px 0;
}
#header h3{
	color: #FFF;
	font-size: 40px;
	font-style:italic;
	line-height: 40px;
	margin-bottom: 30px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header h1{
	color:#FFF;
	font-size: 75px;
	line-height: 75px;
	margin-bottom: 50px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header .btn-yellow{
	color:#FFF;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	padding:20px 40px;
	border-radius: 4px;
	background-color: #fed136;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#header .btn-yellow:hover{
	border-color: #f6bf01;
	background-color: #fec503;
}
#service h3{
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 16px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#service{
	width: 100%;
	padding:100px 0;
	box-sizing: border-box;
}
#service p{
	font-size: 16px;
	margin:10px 0 50px 0;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#service .row{
	margin-right: -75px;
}
#service .row:after{
	content:'';
	display: block;
	clear:both;
}
#service .item{
	width:340px;
	float: left;
	text-align: center;
	margin-right:75px; 
	padding:0px 30px;
}
#service .circle{
	/*display: block;*/
	color:#fed136;
	line-height: 120px;
	font-size: 60px;
	clear: both;
	border-radius: 50%;
}
#service h4{
	font-size: 18px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#service .item p{
	text-align: justify;
	margin-bottom: 0px;
}
#port{
	width:100%;
	/*height:800px;*/
	padding:10px 0 100px 0;
	background-color: #f7f7f7;
}
#port h3{
	font-size: 40px;
	font-weight: 700;
	padding:70px 0 10px 0;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#port .sentence{
	margin-bottom: 30px;
}
#port .content{
	margin-right: -45px;
}
#port .content:after{
	content: '';
	display: block;
	clear:both;
}
#port .outer{
	width:360px;
	float: left;
	margin:30px 45px 0 0;
	position: relative;
	/*outline:1px solid red;*/
}
#port .item{
	display: block;	
}
#port .item img{
	width:360px;
}
#port .item img{
	z-index: 2;
}
#port .item .box{
	width:360px;
	height:260px;
	top:0;
	opacity: 0;
	z-index: 13;
	position: absolute;
	background-color: transparent;
}
#port .item .box .white{
	color:#FFF;
	font-size: 60px;
	line-height: 260px;
}
#port .item:hover .box{
	/*display: block;*/
	/*transition-color:1s;*/
	opacity:1;
	background-color:rgba(254,209,54,0.8);
	transition-property:background-color;
	transition-duration:0.6s;
	/*transition-delay:0;*/

}
#port .inner{
	height:80px;
	background-color: #FFF;
}
#port .inner h4{
	font-size: 22px;
	color:#222;
	padding:10px 0;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#port .inner p{
	color: #777;
	font-size:16px; 
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#about{
	width:100%;
	height:1520px;
	padding: 80px 0;
	box-sizing:border-box;
	/*position: relative;*/
}
#about .timeline:before{
	content: '';/*这句不能漏，否则不出来*/
	width:2px;
	height:1100px;
	position: absolute;
	left:50%;
	margin-top: 20px;
	background-color: #f1f1f1;
}
#about h1{
	font-size: 40px;
	color:#111;
	margin-bottom: 30px;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#about .sentence{
	font-style: italic;
	margin:10px 0 50px 0;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#about ul{
}
#about li{
	position: relative;
	margin-bottom: 80px;
	/*outline: 1px solid red;*/
}
#about li:after{
	content: '';
	display: block;
	clear:both;
}
#about .image img,#about .last{
	width:150px;
	height:150px;
	position: absolute;
	top:5px;
	left:50%;
	margin-left: -78px;/*向左移动自身宽度的一半*/
	border-radius: 100%;
	border:6px solid #f1f1f1;
}
#about .last{
	width:156px;
	height:156px;/*如果不这样额外设置，则会比上面的圆要小，中线不对圆中间*/
	background-color: #fed136;
}
#about .last p{
	padding:0;
	margin: 28px 0 28px 0;
	color:#FFF;
	font-weight: heavy;
	font-size: 20px;
	line-height: 30px;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#about .left{
	/*outline: 1px solid red;*/
	width:400px;
	margin-left: 60px;
	float: left;
	line-height: 30px;
	text-align: right;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#about .right{
	/*outline: 1px solid red;*/
	width:400px;
	margin-right: 60px;
	float:right;
	line-height: 30px;
	text-align: left;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#team{
	background-color: #f7f7f7;
	/*height: 600px;*/
	padding: 50px 0;
}
#team h1{
	font-size: 40px;
	color:#111;
	margin-bottom: 10px;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#team .sentence{
	font-style: italic;
	margin:10px 0 20px 0;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#team .row{
	margin: 40px 0;
}
#team .item{
	padding:0 15px;
	margin-right: -45px;
}
#team ul:after{
	content:'';
	display: block;
	clear:both;
}
#team .outer{
	width:360px;
	height:400px;
	float: left;
	margin-right: 30px;
	/*outline: 1px red solid;*/
}
#team li .circle{
	border-radius: 50%;
	border:8px solid #fff;
}
#team .outer h3{
	color:#333;
	font-size:20px;
	margin:10px 0 10px 0;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#team .outer p{
	margin-bottom: 0px;
}
#team .social{
	margin:20px 0;
	margin-right: -30px;
	display: inline-block;
	/*outline: 1px solid blue;*/
}
#team .outer ul:after{
	content: '';
	display: block;
	clear:both;
}
#team .social li{
	float: left;
	margin-right: 30px;
	/*outline: 1px solid red;*/
}
#team .social li:hover{
	color:#fed136;
}
#clients{
	width:100%;
	/*height:200px;*/
	padding:50px 0;
}
#clients ul{
	margin-right: -30px;
}
#clients ul:after{
	content:'';
	display: block;
	clear:both;
}
#clients li{
	float:left;
	width:270px;
	margin-right: 30px;
}
#contact{
	height:800px;
	width:100%;
	/*下面这两个属性的顺序决定了层级关系，不要调换顺序*/
	background:url(map-image.png) no-repeat center center;/*注意不要写成background-image，会失效*/
	background-color: #222;
}
#contact h1{
	font-size: 40px;
	color:#FFF;
	padding:100px 0 10px 0;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#contact p{
	color:#DDD;
	font-style: italic;
	margin:10px 0 60px 0;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#contact .form{
	margin-right: -60px;
}
#contact .form:after{
	content:'';
	display: block;
	clear:both;
}
#contact .profile{
	float:left;
	width:555px;
	margin:0 60px 0 0;
}
#contact .profile input{
	/*outline: 1px solid red;*/
	width:555px;
	color:#DDD;
	font-size: 16px;
	padding:18px 18px;
	border-radius: 4px;
	margin-bottom: 40px;
	font-weight: bold;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#contact .message{
	/*width:50%;*/
}
#contact .message textarea{
	float:left;
	width:555px;
	height:236px;
	margin-right: 60px;
	padding:20px 0 0px 20px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#contact .btn-yellow{
	color:#FFF;
	clear:both;
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
	display: inline-block;
	padding:20px 40px;
	border-radius: 4px;
	background-color: #fed136;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#contact .btn-yellow:hover{
	cursor: pointer;
	border-color: #f6bf01;
	background-color: #fec503;
}
#contact .btn-yellow:focus{
	border:none;
	outline: none;
}
#footer{
	/*height:200px;*/
	padding:40px 0;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#footer .outer{
	margin-right: -75px;

}
#footer .outer:after{
	content: '';
	display: block;
	clear: both;
}
#footer .outer>li{
	float:left;
	width:340px;
	/*outline: 1px solid blue;*/
	margin-right: 75px;
}
#footer .inner{
	/*outline: 1px solid red;*/
	/*background-color: red;*/
	margin-right: -100px;
	padding:0 90px;
}
#footer .inner:after{
	content: '';
	display: block;
	clear:both;
}
#footer .inner li{
	float: left;
	margin-right: 20px;
}
#footer .yellow{
	color:#fed136;
}
#footer .privacy a:hover{
	/*display: inline-block;*/
	text-decoration: underline;
	/*border-bottom:1px solid #fed136;*/
}
















