		/*公用css*/

		html,body,ul,li{
			margin: 0;
			padding: 0;
			text-align: center;
			font-size: 16px;
		}
		html,body{
			width: 100%;
			height: 100%;
		}
		a{
			text-decoration: none;
		}

		ul,li{
			list-style: none;
		}
		h2{
			font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 40px;
		}
		h4{
			font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
			font-size: 18px;
		}
		p{
			font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 16px;
			color: rgb(120,120,120);
		}
		.clear:after{
			content: "";
			display: block;
			clear: both;
		}
		.container{
			
			margin: 0 auto;
			/*border: 1px solid red;*/
			width: 1170px;
			overflow: auto;
			
		}
		.img-hover{
			transition: opacity 0.7s;
		}
		.img-hover:hover{
			opacity: 0.7;
		}
		.btn{
			padding: 20px 40px;

			color: #fff;
			background-color: #fec503;
			border-radius: 5px;
			cursor: pointer;



		}
	/*#header	*/
		#header{
			width: 100%;
			background-color: black;
			padding: 20px 0;
			position: fixed;
			left: 0;
			top: 0;	
			z-index: 99;					
		}
		#header .logo{
			float: left;
		}
		#header .logo>a{
			font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
			font-size: 28px;
			color: rgb(254, 209, 54);
			font-style: italic;

		}
		#header .navbar{
			font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 20px;
			float: right;
		}
		#header .navbar li{
			color: white;
			float: left;
			padding: 10px 20px;
			border-radius: 5px;
		}
		#header .navbar li:hover{
			background-color: #fec503;
		}
		#header .navbar a{
			color: white;
		}
	/**/
/*	
		color: white;
	
		height: 100%;
		
	}*/
	.welcome{
		background: url("../img/header-bg.jpg") no-repeat center center;
		background-size: cover;
		width: 100%;
		height: 100%;
		color: white;
	}
	.welcome .container{

		padding: 20px 0;
		position: relative;
		top: 40%;

	}
	.welcome h1{
		font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif: ;
		font-size: 40px;
	}
	.welcome p{
		font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 75px;
	}
	.welcome a{
		font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 18px;
		border: 20px,40px;
		background-color: #fed136;
		border-radius: 5px;
		padding: 20px 40px;
		color: white;
	}
	/*services*/
	.services{
		width: 100%;
		height: 100%;
		color: black;	
		}
	.services .container{
		/*border: 1px solid green;*/
		position: relative;
		top: 20%;
	}
	.services h2{
		
		font-size: 40px;
	}
	.services h4{
		
		font-size: 20px;

	}
	.services p{
		
		font-size: 16px;
		color: rgb(120,120,120);
	}
	.services i{
		font-size: 50px;
		padding: 10px;
		color: #fed136;
		border: 5px solid;
		border-radius: 100px;
	}
	.services .serv-text{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 80px;

	}
	.services .serv-1{
	width: 380px;
	float: left;
	border-radius: 5px;
	margin-left: 5px;
	}
	/*.portfolio*/
	.portfolio{
		color: black;
		background-color: rgba(247,247,247,1);
	}
	.portfolio h2{
		font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 40px;
	}
	.portfolio h4{
		font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; 
		font-size: 18px;
	}
	.portfolio p{
		font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px;
		color: rgb(120,120,120);
	}

	.portfolio .container{
		padding: 30px 0;
		margin-top: 20px;
	}
	.por-item{
		position: relative;
		width: 360px;
		overflow: hidden;
		min-height: 360px;
		float: left;
		padding: 0 10px;
		margin-bottom: 30px;
		margin-left: 8px;

	}
	.por-item .por-img img{

		width: 360px;
		height: 260px;
		
		position:relative;
		z-index: 1;
	}
	.por-item .por-hover{
		background-color: #fed136;
		position: absolute;
		top: 0;
		float: left;
		z-index: 5;
		width: 100%;
		height: 260px;
		opacity: 0;
		transition: opacity 0.8s;
		cursor: pointer;

	}
	.por-item .por-hover:hover{
		opacity: 0.7;
	}
	.por-item .por-cap{
		
		margin: 0 auto;
	}
	.por-item .por-icon{
		position: absolute;
		top: 45%;
	}
	.por-item .por-hover i{
		position: absolute;
		top: 30%;
		left: 40%;
		font-size: 100px;
		color: white;
	}
	/*.about*/

	.about img{
		width: 156px;
		height: 156px;
		border: 3px solid #ccc;
		border-radius: 300px;
		position: relative;
		z-index: 5;
		cursor: pointer;
	}

	.about ul{
		position:relative;
	}
	.about li{
		padding: 50px;
	}
	.about-text{
		width: 350px;
		position: absolute;
	}
	.about li:nth-child(1)>.about-text,
	.about li:nth-child(3)>.about-text{
		
		text-align: right;
		left: 10%;
		
	}
	.about li:nth-child(2)>.about-text,
	.about li:nth-child(4)>.about-text{
		text-align: left;
		left: 58%;
	}
	.about li:nth-child(5) div{
		width: 100px;
		height: 100px;
		padding: 28px;
		background-color: #fed136;
		border: 3px solid #ccc;
		border-radius: 300px;
		position: relative;
		z-index: 5;
		margin: 0 auto;
		color: white;

	}
	.about ul:after{
		content: "";
		width: 0px;
		border: 2px solid #f1f1f1;
		position: absolute;
		top: 100px;
		bottom: 100px;
		left: 50%;
		z-index: 0;
	}
/*.team*/
	.team{
		background: #f7f7f7;
		height: 100%;
		overflow: hidden;

	}
	.team i{
		font-size: 30px;
		color: black;
	}
	.team i:hover{
		color: #fed136;
	}
	.team-text{
		margin-top: 10%;	

	}
	.team .team-trim{
		width: 300px;
		float: left;
		margin-left: 70px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.team-text{
		/*margin-left: 130px;*/
	}
	.team-trim img{
		border: 8px solid white;
		border-radius: 300px;
	}

	.team-end{
		
		clear: both;
	}
	.team-end>p{
		margin-top: 200px;
		padding:0 330px ;

	}
	/*partner*/
	.partner{

	}

	.part-img{
		margin-left: 50px;
		float: left;
		padding: 50px 0;
	}
	.part-img:first-child{
		margin-left: 150px;
	}
	/*contact*/
	.contact{
		height: 100%;
		background: url(../img/map-image.png);
		background-color: black;
	}
	.contact-text{
		margin-top: 15%;
		margin-bottom: 5%;
		color: white;
	}
	.contact-form>div{
		float: left;	
	}
	.contact-input{
		width: 555px;
	}
	.contact .input-text{
		width: 500px;
		height: 20px;
		padding: 20px;
		margin-top: 20px;
		border-radius: 5px;
	}
	.contact textarea{
		width: 500px;
		height: 190px;
		padding: 20px;
		margin-top: 20px;
		margin-left: 50px;
		border-radius: 5px;
	}
	.contact .btn{
		margin-top: 50px;
	}
/*#footer*/

	#footer .container div{
		float: left;
	}
	.copyright,.footer-btn,.footer-link{
		width: 30%;
		padding: 30px 0;
	}
	.footer-link{
		margin-top: 16px;
	}
	.footer-link a{
		font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 16px;
		color: #fed136;
		padding-left: 20px;
			}
	#footer i{
		font-size: 40px;
		padding: 0 20px;
		cursor: pointer;
		transition: color 0.7s;


	}
	#footer i:hover{
		color: #fed136;
	}
	#footer a:hover{
		text-decoration: underline;
	}