#footer .footer-wrap{
	padding:10px 0;
	width: 1200px;
	margin:0 auto;
}
.footer-wrap div{
	float: left;
	width: 360px;
	margin:30px 20px;
}

.footer-icon{
	text-align: center;
	
}

.footer-icon>a{
color:black;
font-size: 40px;

}
.footer-icon>a:hover{
	color:#fed136;
	transition: all .5s;
	cursor: pointer;
}
.footer-left{
	text-align: left;
}

.footer-right{
text-align: right;
}
 .footer-right>a{
 	color:#fed136;
 	font:400 16px/1 arial;
 }
