 html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font: bold 20px "microsoft yahei";
}
h1{
  margin:0;
  padding:0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#nav,#services,#portfolio,#about,#team,#logo-bar,#contact,#footer{
  width: 100%;
  display: table;
}

.v-h-align{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.wrap {
  margin:0px auto;
  width: 1200px;
  height: 100%;
  display: table;
  padding:50px 0;
}

.wrap .item-box ul{
  margin-left: -30px;
}

.wrap .item-box li{
  width: 380px;
  margin-left: 30px;
  float: left;
}

.wrap h2{
  font-size: 40px;
  margin-bottom: 15px;
  font-family: "Helvetica Neue",Arial;
  font-weight: 700;
}

.wrap >.inner-wrap >p{
   font-size: 16px;
    font-family: "Droid Serif",Arial,sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}

.wrap h3{
  font-family:"Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.wrap .item-box p{
    color: #777;
    font-size: 14px;
    line-height: 1.75;
    font-family:  "Roboto Slab";
}