#team{
	width: 100%;
	background: #eee;
}

#team .ct-box img{
	width: 200px;
	height: 200px;
	border: 8px solid white;
}

#team .iconfont{
	color: black;
	font-size: 35px;
}
#team .iconfont:hover{
	color: #fed136;
	cursor: pointer;
	transition: all .5s;
}


