	html,body,ul,h1,h2,p,i{
		margin:0;
		padding:0;
	}
	a{
		text-decoration: none;
		color: #000;
	}
	li{
		list-style: none;
	}

	.layout{
		width: 1000px;
		margin: 0 auto;
	}
	#navbar-head{
		border: 1px solid #e7e7e7;
		/*width:100%;*/
		height: 50px;
		position: fixed;
		left: 0;
		right: 0;
		background: #fff;
		line-height: 50px;
		z-index: 2;
	}
	.navbar-brand{
		color: #777;
		font-size: 20px;
		cursor: pointer;
	}
	.navbar-nav{
		position: relative;
		top: -50px;
		left: 60px;
		cursor: pointer;
	}

	.navbar-nav>li{
		float: left;
		padding:0 16px;
	}
	.navbar-nav:after{
		content: '';
		display: block;
		clear:both;
	}
	.child{
		position: absolute;
		top: 100%;
		left: 0;
		display: none;
		width: 140px;
		background: #fff;
		
	}
	.child>li{
		height: 30px;
		line-height: 30px;
		padding-left: 20px;
	}
	.child .work4{
		color: #777;
		font-size: 10px;
		opacity: 0.8;
	}
	.child hr{
		color: #ccc;
		width:136px;
		opacity:0.5;
	}
	.navbar-nav>li:hover .child{
		display: block;
		
	}
	.child>li:hover{
		background: #eee;
	}
	.child .work4:hover{
		background:#fff;
	    cursor:  default;
	}
	#header {
		width: 100%;
		height: 250px;
		background:#b84d45;
		margin-bottom: 50px;
		
	}
	.wrap{
		text-align: left;
	    	
	}
	.wrap h1{
		color: #fff;
		font-size: 50px;
	    padding-top: 100px
	}
	.wrap p{
		color: rgba(255,255,255,0.8);
		padding: 2px 0;
	    font-size: 24px;
	}


	 .header-bar{
	 	background: #f5f5f5;
	 	height: 30px;
	 	line-height: 30px;
	 	margin-top: 60px;
	 }
	 .index{
	 	color: red;
	 	margin: 10px;
	 }
     .index:hover{
     	text-decoration:underline;
     }

	 .content{
	   margin-left:-20px;
	   text-align: center;
    }
	 .content:after{
	 	display: block;
	 	content: '';
	 	clear: both;
	 }
	 .content>li{
	 	float: left;
	 	border: 1px solid #ccc;
	 	width:318px;
	 	height: 380px;
	 	margin-left: 20px;
	 	margin-top:20px;
	 }
	.content .bg{
		width:312px;
		height: 200px;
		margin: 2px 2px 16px;
		border: 1px solid #ccc;
	}
	.bg img{
		width: 312px;
		height: 200px;
	}
	.bg img:hover{
		opacity: 0.6;
	}
	.content h2{
		margin-bottom: 10px;
	}
	.content .btn{
	  display: inline-block;
	  width: 50px;
	  height: 30px;
	  line-height: 30px;
	  border: 1px solid #ccc;
	  border-radius: 6px;
	  margin-top: 16px;
	 
	}
	.btn:hover{
		background: #ccc;
		opacity: 0.6;
	}
   #footer{
   	text-align: center;
   	margin-bottom: 50px;
   }
   #footer .wrap {
		width: 100%;
		height: 150px;
		background:#b84d45;
		color: #fff;
		margin: 50px 0;
        text-align: center;

	}
	#footer .wrap h1{
		padding-top: 30px;
	}
	#footer hr{
		width: 1000px;
		color: #ccc;
		opacity: 0.5
	}
	#footer .special{
		color: red;

	}