
  li { list-style: none; }
  a { text-decoration: none; }
  ul{ margin: 0;
      padding: 0;
  }


  html,body{
    font-family:cursive,"微软雅黑", sans-serif;
    height: 100%;
    font-size: 14px;
    line-height: 1.42857143;
  }
 .container{
   width: 960px;
   margin: 0 auto;
 }
  /* 首页css */
  #header{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../img/bg.png);
    background-size: cover;

  }
  #header .container{
    display: table-cell;
    vertical-align: middle;
  }
  #header h1 {font-size: 40px;}
  #header p {font-size:20px; }
  #header a {
    border: 1px solid white;
    color: #333;
    padding: 5px 8px;
    background-color: #d6ecf0;
    border-radius: 4px;

  }
   /* 主内容css */
   .setting-back{
     background-image: url(../img/thumb_DSC00177_1024.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-color: #ccc;
   }
  .intro{

   padding-top: 40px;
   padding-bottom: 40px;
   text-align: center;

  }
  /* 主内容第二部分css */
  .setting-skills{
    background-color: #177cb0;
    color: white;

  }
   .setting-skills .container{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .setting-skills ul::after{
    content: " ";
    display: block;
    clear: both;
  }
  .setting-skills h2{font-size: 30px;}
  .setting-skills hr{width:100px;}

  .setting-skills .skills{
    width: 215px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
  }
  .setting-skills .cricle{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background: white;
  }
  .skills i{
    position: absolute;
    left: 10px;
    line-height: 90px;
  }
  .skills h4{
    font-size: 20px;
    font-weight: bold;
  }
  .skills a{
    color: #333;
    background-color: #fff;
    border: 1px solid white;
    padding: 4px 10px;
  }
/* 主体内容第三部分css */
  .setting-img{
    background-image: url(../img/thumb_DSC00123_1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ccc;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 150px;

  }
  .setting-img p{
    font-family: STKaiti;
    color: #177cb0;
    font-size: 40px;
    text-align: center;
  }
/* 主体内容第四部分CSS */
  .works { text-align: center;}
  .works h2{ font-size: 30px;}
  .works hr{
    width: 100px;
    border: 1px solid #eee;
  }

  .works ul{
    margin: 0;
    padding: 0;
  }
  .works ul::after{
    content: " ";
    display: block;
    clear: both;
  }
  .works img{
    width: 450px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
  }
  .works img:hover{
   opacity: 0.8;
  }
  .works>a{
    padding: 5px 10px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #aaa;
    color: #fff;
  }

/* 主体内容CSS第五部分*/
  .setting-other {background: #177cb0;}

  .other{
    text-align: center;
    padding: 50px 0;
    color: #fff;
  }
  .other a{padding:7px 15px;}
   .other a:nth-child(2){
    background-color:#fff;
    border-radius: 6px;
    color: #333;
  }
  .other a:nth-child(3){
   background-color:#222;
   border-radius: 6px;
   margin-left: 15px;
   color: #fff;
 }

 /* 页面脚部CSS */

  #footer .contact{
    line-height: 1;
    text-align: center;
    margin: 100px 0;
    font-weight: bold;
    font-family: "微软雅黑";
  }
  .contact a{ color: #177cb0;}
  .contact .icon-f i{
    font-size: 40px;
    padding: 5px 15px;
  }
  .contact hr{
    width: 100px;
    border: 1px solid #ccc;
  }
