*{
	margin: 0;
	padding:0;
}
#wrap{
	width: 602px;
	height: 500px;
	display: inline-block;
	border: 1px black solid;
}
/*#wrap:after{
	content: "";
	display:block;
	clear: both;
}*/
.btn{
	width: 200px;
	height: 30px;
	float: left;
	text-align: center;
	border-bottom: 1px black solid;
	line-height: 30px;
}
.btn-on{
	background-color: #D6D4D6;
}
.btn-middle{
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.word{
	display:none;
}
.word-show{
	display:block;
}
