
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1465036063'); /* IE9*/
  src: url('iconfont.eot?t=1465036063#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1465036063') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1465036063') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1465036063#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pxreact2:before { content: "\e600"; }
.icon-html:before { content: "\e7bb"; }
.icon-zuopin:before { content: "\e61b"; }
.icon-QQ:before { content: "\e607"; }
.icon-socialgithub:before { content: "\e873"; }
.icon-sina:before { content: "\e609"; }
.icon-git:before { content: "\e7d5"; }
