*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}
html,body{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: inherit;
}
ul,li{
	list-style: none;
}
li{
	float: left;
}
h2{
	font-weight: 300;
	margin-bottom: 15px;
	font-size: 28px;
}

.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
.clearfix{
	*zoom:1;
}
.wrap{
	width: 960px;
	margin: 0 auto;
}
.white-line{
	position: relative;
	left: 50%;
	margin-left: -45px;
	margin-bottom: 10px;
	width: 90px;
	border-bottom: 1px solid #eee;	
}
.btn{
	display: inline-block;
	padding: 10px 16px;
}
.btn-bg-white{
	background: #fff;
	color: #000;
}
.btn-bg-white:hover{
	opacity: 0.8;
}
.btn-bg-black{
    background: rgb(0,0,0);
    color: #fff;
    opacity: 0.4;
}
.btn-bg-black:hover{
	opacity: 0.6;
}



#header{
	display: table;
	width: 100%;
	height: 100%;
	background: url(../images/header-bg.jpg) no-repeat center center;
	background-size: cover;	
}
#header .summary{
	display: table-cell;
	vertical-align: middle;
}
#header .summary h1{
	font-size: 60px;
	font-weight: 700;
}
#header .summary h3{
	font-weight: 400;
	margin: 20px 0;
}


#about{
	padding: 50px 0;
	line-height: 1.7;
	font-size: 17px;
	font-weight: lighter;
}
#about a{
	color: rgba(0,185,255,0.6);
}

#services{
	padding: 50px 0;
	background: #337ab7;
	color: #fff;
}
#services .ser-list .item{
	width: 25%;
}
#services .ser-list .icon-wrap{
	position: relative;
	left: 50%;
	margin-left: -35px;
	margin-top: 13px;
	border-radius: 35px;
	width: 70px;
	height: 70px;
	background: #fff;
	line-height: 70px;
}
#services .ser-list .icon-wrap i{
	font-size: 40px;
	color: #337ab7;
}
#services .ser-list h3{
	font-weight: 400;
	margin: 15px 0;
}
#services .ser-list p{
	font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
}
#services .ser-list .item .btn{
	margin-top: 20px;
}

#ser-out{
	display: table;
	background: url(../images/background.jpg) center center no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
	color: #fff;
}
#ser-out .vertically{
	display: table-cell;
	vertical-align: middle;
	font-size: 37px;
}

#work{
	margin-top: 50px;
}

#work .white-line{
	border-color: #ddd;
	margin-bottom: 20px;
}
#work .work-list{
	position: relative;
	margin-left: -30px;
}
#work .work-list .item{
	width: 465px;
	height: 303px;
	margin-left: 30px;
	margin-bottom: 30px;
	opacity: 1;
	transition: opacity 0.3s;
}
#work .work-list .item:hover{
	opacity: 0.5;
}
#work img{
	width: 100%;
	height: 100%;
}


#others{
	background: #337ab7;
	margin-top: 50px;
	color: #fff;
	padding: 50px 0;
}
#others p{
	font-size: 28px;
	font-weight: 400;
	line-height: 34px;
	margin-bottom: 20px;
}


#footer{
	color: #000;
	padding: 50px 0;
	line-height: 24px;
	font-size: 12px; 
}
#footer h3{
	font-size: 20px;
	margin: 20px 0;
}
#footer .white-line{
	border-color: #ddd;
}
#footer ul{
	display: table;
	position: relative;
	left: -20px;
	margin: 20px auto;
	color: #337ab7;
}
#footer ul li{
	font-size: 24px;
	color: #337ab7;
	margin-left: 30px;
}
#footer ul li i{
	font-size: 35px;
}
#footer .icon-dianhua,#footer .icon-youxiang{
	margin-right: 5px;
}
#footer #email{
	color: #337ab7;
}