html,body,ul,li {
	margin:0;
	padding:0;
}
ul {
	list-style:none;
}
a {
	text-decoration: none;
}
.nav {
	background:#ccc;
	height:30px;
	opacity: 0.5;
}	
.nav>li  {
	float:left;
	padding:5px 20px;
	font-weight: bold;
	position:relative;
}
.nav>li:hover {
	background:#eee;
}
.nav .child {
	display: none;
	position: absolute;
	left:0;
	top:100%;
	border:1px solid #ccc;
}
.nav li:hover .child {
	display:block;
}
.child li {
	background:#eee;
	padding:10px;
}
.child li:hover {
	background:pink;
}