html,body,div,p,h1,h2,h3,h4,ul,li{
	margin:0;padding:0;
	box-sizing:border-box;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
body{
	font:14px/1.5 "Microsoft Yahei";
}
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1467300046_4549048.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1467300046_4549048.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1467300046_4549048.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1467300046_4549048.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1467300046_4549048.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
  /*iconfont官网中，url里面没有http，因此不生效，注意要加http:*/
.wrap{
	margin:0 auto;
	width:1000px;
}
#nav{
	width:100%;
	outline: 1px solid red;
	padding:0 0;
}
.iconfont{
    width:40px;
    color:#555;
	float: left;
	font-size: 32px;
    padding-top: 4px;
    font-style:normal;
    -webkit-text-stroke-width: 0.2px;
    font-family:"iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont:hover{
	color:#222;
}
#nav ul:after{
	content: '';
	display: block;
	clear: both;
}
#nav ul>li{
	float:left;
	padding:0 15px;
	font-size: 16px;
	line-height: 60px;
}
#nav ul>li>a{
	color: #555;
	/*outline: 1px solid red;*/
}
#nav .dropdown{
	width:100px;
	line-height: 60px;
	position: relative;
	/*outline: 1px solid blue;*/
}
#nav .dropdown ul{
	display: none;
}
#nav li.dropdown:hover ul{
	top:60px;
	left:0px;
	width:100px;
	z-index: 100;
	display: block;
	position: absolute;
	border:1px solid #ccc;
}
#nav .dropdown:hover li{
	clear: both;
	height:32px;
	width:100%;
	line-height: 32px;
	background-color: #FFF;
}
#nav .dash{
	border-bottom:1px dashed #ccc;
}
#nav .dropdown:hover li:hover{
	background-color: #CCC;
}
#nav .triangle{
	top:17px;
	margin-left: 4px;
	border:7px solid;
	position: relative;
	border-color: #555 transparent transparent transparent;
}
#intro{
	background-color: #b84d45;
	padding:34px 0;
	color:#FFF;
}
#intro h1{
	font-weight: 100;
	margin-bottom: 6px;
}
#breadcrub{
	margin:30px 0;

}
#breadcrub .wrap{
	width:1000px;
	padding: 10px 16px;
	margin:0 auto;
	background-color: #EEE;
	border-radius:3px;
}
#breadcrub .wrap:after{
	content: '';
	display: block;
	clear:both;
}
#breadcrub li{
	float: left;
}
#breadcrub .red {
	color:red;
}
#breadcrub .grey{
	color:#666;
}
#works ul{
	margin-right:-35px;
}
#works ul:after{
	content:'';
	display: block;
	clear:both;
}
#works li{
	width:310px;
	height:330px;
	float:left;
	margin:0 35px 22px 0;
	outline: 1px solid #AAA;
}
/*#works img:hover{
	cursor: pointer;
}*/
#works img{
	width:310px;
}
#works h3{
	font-size: 18px;
	padding: 6px 14px;
}
#works p{
	font-size: 14px;
	padding-left: 14px;
}
#works .btn{
	width:30px;
	color:#555;
	text-align: center;
	display: block;
	margin: 14px auto 0 auto;
	padding:4px 10px;
	border: 1px solid #AAA;
	border-radius: 3px;
}
#works .btn:hover{
	color:#222;
}
#more{
	color:#FFF;
	font-weight: 100;
	text-align: center;
	padding:20px 0 20px 0;
	background-color: #b84d45;
}
#more h1{
	margin-bottom: 10px;
}
#more p{
	margin-bottom: 10px;
}
#more a{
	color:#FFF;
}
#more a:hover{
	color:#333;
}
#more .btn-red{
	background-color: transparent;
	border: 1px solid #FFF;
	border-radius: 2px;
	padding:6px 12px;
	display:inline-block;

}
#footer p{
	border-top: 1px solid #DDD;
	padding:30px; 
	font-size: 16px;
	color:#555;
	text-align: center;
	margin-top: 30px;
}




















