html,body,div,ul,li,a,img{
  margin:0px;
  padding:0px;
}
html,body{
    height: 100%;
    font-size: 14px;
    color:black;
  }
#header{
  height:100%;
  width:100%;
  position:relative;
  background:url(./picture/1.png)no-repeat;
  background-size:cover;
  display:table;
}
.headline{
  text-align:center;
  display: table-cell;
  vertical-align: middle;
}
.headline .h1{
  font-size:60px;
  margin-bottom:30px;
}
.headline .h2{
  font-size:24px;
  margin-bottom:40px;
}
.headline .and{
  font-size:24px;
  text-decoration:none;
  background:gray;
  padding:10px;
  color: white;
}
.headline .and:hover{
  background:black;
}
#brief{
  height:130px;
  text-align:center;
  background:url(picture/2.png)no-repeat;
  background-size:cover;
  padding:80px;
}
#main{
  background: #2196F3;
  text-align: center;
  padding:40px;
  font-size:40px;
}
.border-bottom{
  margin: 0 auto;
  border-bottom:1px solid;
  width:120px;
  margin-top:-30px;
  margin-bottom:20px;
}
.layout{
  width:960px;
  margin:0 auto;
}
.my-skill{
overflow:hidden;
}
.skill{
  float:left;
  width: 200px;
  margin:20px;
}
.my-skill li{
  font-size: 20px;
  list-style: none;
}
.skill li{
  line-height:80px;
}
.my-skill .iconfont{
font-size:50px;
background:white;
border-radius:50%;
padding:20px;
}
.a{
  text-decoration:none;
  padding:8px;
  border-radius:4px;
  background:white;
}
.a:hover{
  background:gray;
}
#saying{
  background:url(picture/3.png)no-repeat;
  text-align:center;
  font-size:50px;
  padding:100px;
  background-size:cover;
}
#production{
  margin:0 auto;
 font-size: 20px;
 text-align: center;
 padding-top:30px;
 overflow:hidden;
 position:relative;
}
.list{
  overflow:hidden;
}
.list li{
  list-style:none;
  float:left;
}
.list a:hover{
  opacity:0.8;
}
.list img{
  width:450px;
  margin:15px;
}
#production .more{
  text-decoration:none;
  font-size:25px;
  background:gray;
  padding:0 10px;
  color:white;
}
#other{
  font-size:30px;
  text-align: center;
  background:#2196F3;
  margin: 20px;
  padding: 40px;
  color:white;
}
.icon>a{
  text-decoration:none;
  padding:0 20px;
}
.icon>a:hover{
  background:red;
}
.my-blogs{
  background:white;
  color: black;
}
.my-github{
  background:gray;
  color:white;
}
#bottom{
  text-align:center;
  padding:20px;
  line-height:20px;
  text-decoration:none;
}
#bottom a{
  text-decoration:none;
}
.space .iconfont{
  font-size:40px;
  margin:20px;
}
