body,html,ul{       
  margin: 0;           /* body和ul默认的外边距 */
  padding: 0;            /* 和内边距清除 */
  font-family:微软雅黑;   /* 设置字体 */
}
.header {
  background: #BDBDBD;   /* 设置导航栏背景色 */
  overflow: auto;         /* 将此父容器变成BFC不受浮动影响 */
}
li a{
  text-decoration:none;    /* 清除a链接下划线 */
  color: black;            /* 设置a字体颜色 */
}
li {
  list-style: none;       /* 清楚所有li默认样式 */
}
.bar>li {
  padding:0 10px;           /*设置内边距，让hover的时候背景颜色没有缝隙*/
  float: left;              
  line-height: 30px;         /*设定行距更美观*/
}
.bar>li:hover {
  background: #A7A7A7;     
}
.child1,.child2,.child3 {
  display: none;                /*平时下拉菜单是脱离文档流的*/
  background: #fff;
  border: 1px solid #A7A7A7;      
  position: absolute;        /*绝对定位,脱离文档流、调整菜单位置*/
}
.child1 {
  left: 0;
  /*top: 100%;*/            /*老师,这点为什么我设100%就跑没影了？*/
}
.child2 {
  left: 52px;
  /*top: 100%; */                     /*调整下拉菜单水平位置*/
}
.child3 {
  left:120px;
}
.li1:hover .child1{
  display:block;
}
.li2:hover .child2{                  /*当鼠标悬浮在导航元素上时*/
  display: block;                  /*下拉菜单变为块级元素出现*/
}
.li3:hover .child3{
  display: block;
}
.bar .nc{
  padding: 0 5px;               
}
.nc:hover {
  background: #D2CDCE;
}