.header{
  height: 40px;
  background: #969696;
}
.content{
  overflow: hidden;    
  padding: 0 200px;    
}
.box1{
  background: green;    
  min-height:130px; 
  width: 100%;           
  float: left;
}
.box2{
  background: red;        
  height:100px;     
  width: 200px;        
  float: left;            
  margin-left: -100%;                   
  position: relative;     
  right: 200px;        
}
.box3{
  background: yellow;    
  height:100px;          
  width: 200px;          
  float: left;           
  margin-left: -200px;                  
  position: relative;     
  left: 200px;           
}
.footer{ 
  height: 40px;
  background: #969696;
}