*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
/*navigation*/
#all{
	width: 1300px;
	margin: 0 auto;
}
#all:after{
	content: "";
	display: block;
	clear: both;
}
#navigation{
	background-color: #222222;
	padding: 20px;
	position: fixed;
	width: 100%;
	z-index: 2;
}
#navigation:after{
	content: "";
	display: block;
	clear: both;
}
.logo{
	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
	color: #fed126;
	float: left;
	font-size: 2em;
	padding-left:20px;
}
.navigation-wrap{
	float: right;
	margin-right: 40px;
}
.navigation-li{
	float: left;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding:10px;
	display: inline-block;
}
.navigation-li>a{
	color: #fff;
}
.navigation-li:hover{
	cursor: pointer;
}
.navigation-li:hover a{
	color: #fec503;
}
/*head*/
#head{
	width: 100%;
	background: url(./img/header-bg.jpg) center center;
	background-size: cover;
	text-align: center;
	color: #fff;
}
#head h2{
	padding-top: 200px;
	font-size: 40px;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#head h1{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 75px;
	font-weight: 700;
	padding: 50px 0; 
}
#head a{
	margin-top: 20px;
	margin-bottom: 200px;
	display: inline-block;
	color: #fff;
	padding: 20px 40px;
	border:1px solid #fed136;
	border-radius: 5px;
	background-color:#fed136;
	font-size: 18px;
}
#head a:hover{
	background-color: #fec503;
}
/*SERVICES*/
#services{
	text-align: center;
	padding: 200px 0;

}
#services:after{
	content: "";
	display: block;
	clear: both;
}
#services h1{
	font-size: 40px;
	font-weight: 700;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#services h4{
	padding: 20px 0;
	font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: italic;
    font-weight: 400;
    color: #777;	
}
.services-box{
	width: 300px;
	text-align: center;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 30px;
}
.services-box h2{
	padding-top: 20px;
	font-weight: 700;
	font-size: 18px;
}
.services-box p{
	padding-top: 20px;
	font-size: 14px;
	line-height: 1.75;
	color: #777;
}
.icon{
	font-size: 125px;
	color: #fed126;
}
/*portfolio*/
#portfolio{
	background-color: #f7f7f7;
	text-align: center;
	padding: 100px 0;
}
#portfolio h1{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}
#portfolio h4{
	margin:40px 0 75px 0;
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
}
.portfolio-box{
	width: 360px;
	display: inline-block;
	background-color: #fff;
	margin: 15px;
}
.portfolio-img{
	background-color: #fed136;
	width: 360px;
	height: 260px;
	position: relative;
}
.portfolio-img img{
	width: 100%;
	height:100%;
	opacity: 1;
	transition:0.8S;
}
.portfolio-img i{
	position: absolute;
	top: 105px;
	left: 155px;
	color: #fff;
	font-size: 50px;
	z-index: 1;
	opacity: 0;
	transition:0.8S;
}
.portfolio-img:hover img{
	opacity: 0.3;
	cursor: pointer;
}
.portfolio-img:hover i{
	opacity: 1;
	cursor: pointer;
}
.portfolio-box h3{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700px;
	padding: 20px 0;
}
.portfolio-box h5{
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size: 16px;
  padding-bottom: 30px;
}
/*about*/
#about{
	text-align: center;
	position: relative;
	padding: 100px 0;
}
#about h1{
	font-size: 40px;
	font-weight: 700;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}
#about>h4{
	font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 75px;
    color: #777;
}
.about-wrap:before{
	content: "";
	width: 3px;
	height: 1200px;
	background-color: #f1f1f1;
	display: block;
	position: absolute;
	left: 50%;
}
.about-li{
	position: relative;
	margin-bottom: 100px;
}
.about-li:after{
	content: "";
	display: block;
	clear: both;
}
.about-li-text-left{
	float: left;
	width: 400px;
	text-align: right;
	line-height: 20px;
	margin-left: 125px;
	margin-right: 20px;
}
.about-li-img-left{
	float: left;
	width: 170px;
	height: 170px;
	border-radius:50%;
	background-color: #f1f1f1;
	margin-left: 20px;
}
.about-li-img-left img{
	width: 156px;
	height: 156px;
	border-radius:50%;
	padding: 5px;
}
.about-li-text-right{
	float: right;
	width: 400px;
	text-align: left;
	line-height: 20px;
	margin-left: 20px;
	margin-right: 125px;
}
.about-li-img-right{
	float: right;
	width: 170px;
	height: 170px;
	border-radius:50%;
	background-color: #f1f1f1;
	margin-right: 20px;
}
.about-li-img-right img{
	width: 156px;
	height: 156px;
	border-radius:50%;
	padding: 5px;
}
.last{
	height: 1px;
}
.about-li h3{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.about-li h4{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 10px;
}
.about-li p{
	font-size: 14px;
    line-height: 1.75;
    color: #777;
}
/*OUR AMAZING TEAM*/
#team-intro{
	text-align: center;
	background-color: #f7f7f7;
	padding: 100px 0;
}
#team-intro>h1{
	font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
#team-intro>h4{
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 40px;
}
.team-intro-box{
	display: inline-block;
	padding: 0 30px;
	margin-top: 65px;
}
.team-intro-box a{
	font-size: 40px;
	color: #000;
	padding: 0 10px;
}
.team-intro-box a:hover{
	color: #fed136;
}
.team-intro-box-img{
	width: 240px;
	height: 240px;
	border-radius: 50%;
	background-color: #fff;
	display: inline-block;
}
.team-intro-box-img img{
	width: 230px;
	height: 230px;
	border-radius: 50%;
	padding: 7px;
}
.team-intro-box h4{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 25px;
}
.team-intro-box p{
	font-size: 14px;
    line-height: 1.75;
    margin-bottom: 10px;
}
.team-intro-lastbox{
	width: 800px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	font-size: 16px;
	color: #777;
	line-height: 30px;
}
/*ad*/
.ad-wrap{
	width: 1200px;
	margin: 0 auto;
}
.ad-wrap img{
	padding: 20px 30px;
}
.ad-wrap img:hover{
	cursor: pointer;
}
/*message*/
#message{
	background: url(./img/map-image.png) center center no-repeat;
	background-size: cover;
	background-color: #222;
	text-align: center;	
	padding: 100px 0;
}
#message h1{
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  	text-transform: uppercase;
  	font-weight: 700;
	  font-size: 40px;
}
#message h3{
	color: #fff;
	padding: 20px 0;
}
.message-input{
	width: 500px;
	display: inline-block;
}
.message-input input{
	width: 100%;
	height: 50px;
	border-radius: 3px;
	margin-top: 20px;
}

#message textarea{
	width: 500px;
	height: 220px;
	position: relative;
	left: 30px;
	top: 40px;
	border-radius: 3px;
}
#message button{
	color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
	margin-top: 50px;
}
#message button:hover{
	cursor: pointer;
	background-color: #fec503;
    border-color: #f6bf01;
}
