
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-kongxin25ziyouxing:before { content: "\e67d"; }
.icon-kongxin24gentuan:before { content: "\e67c"; }
.icon-kongxin27youlun:before { content: "\e67f"; }
.icon-kongxin26zhoubianyou:before { content: "\e67e"; }
.icon-kongxin36mudedi:before { content: "\e688"; }
.icon-kongxin28wifidianhuaqia:before { content: "\e680"; }
