.btn {
  display: inline-block; 
  text-decoration: none;
  font-family: 微软雅黑;
  font-size: 23px;
  color: #fff;
  background: #FA8072;
  height:36px;
  width: 70px; 
  text-align: center;
  line-height: 36px;
  border-radius: 6px;
  padding: 6px;
  border: none;
  unline:
}
.btn:hover {
  background: #c14d21;
}
.btn:active {
  background: #e25f31;
}
button.btn {
  height:48px;
  width: 82px;  
}