#header{
	height: 50px;
	background-color: red;
	line-height: 50px;
    text-align:center;
}
#content{
	height: 500px;
}
.aside{
	height: 30px;
	width: 300px;
	background-color: #ccc;
	float: left;
}
.main{
	height: 500px;
	background: pink;
    overflow: auto;
}
#footer{
  background:red;
  height:50px;
}