*{
	margin: 0;
	padding: 0;
}
#header{
	background: #ccc;
	height: 40px;
	line-height: 40px;
	width: 100%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}

.index>li{
	display: inline-block;
	padding: 0px 10px;
    position:relative;
}
.index>li:hover{
  background:#aaa;
}
.index .child{
  display:none;
  position:absolute;
  left:0;
  top:100%;
  padding: 5px;
}
.index>li:hover .child{
	display: block;
    background:#ddd;
}










