html,body,div,span,ul,li,a{
  margin:0;
  padding:0;
}
html,body{
  width:100%;
  height:100%;
}
a{
  text-decoration: none;
}
#header{
  width:100%;
  height:100%;
  background:url(picture/1.png)no-repeat;
  background-size: cover;
}
#header>.content{
 width: 1100px;
 margin:0 auto;
 padding-top:40px;
}
.content>.top{
  overflow:hidden;
}
.left-btn{
  float:left;
  font-size:30px;
  font-family:cursive;
  color:yellow;
}
.right-btn{
  float:right;
}
.right-btn>a{
  font-size:20px;
  font-family:“微软雅黑”;
  color:white;
  margin-left:20px;
}
.left-btn>a:hover,.right-btn>a:hover{
  color:red;
}
.middle{
text-align:center;
margin-top:250px;
line-height:30px;
color:white;
}
.middle .p1{
  font-size:50px;
  font-style:italic;
  font-weight:800;
}
.middle .p2{
  font-size: 70px;
  font-weight:900;
}
.middle .p3>a{
  font-size:25px;
  padding:20px 30px;
  background:#fc0;
  font-weight:900;
  color:white;
  border-radius: 5px;
}
.middle .p3>a:hover{
  background:yellow;
}
#services{
  text-align:center;
}
.services-title{
  font-size:14px;
  line-height:20px;
  margin-top:150px;
  margin-bottom: 50px;
}
.services-title h1{
  font-size:70px;
  font-weight:900;
}
.services-theme{
 width:1100px;
 margin:50px auto;
}
.list li{
  list-style:none;
}
.list>li{
  float:left;
  width:326px;
  margin: 40px 20px;
}
.list:after{
  content:'';
  display:block;
  clear:both;
}
.list .iconfont{
  color:white;
  font-size:50px;
  border:1px;
  padding:25px;
  border-radius:50%;
  background:yellow;
}
.introduction-name{
  font-size:25px;
  padding-top:30px;
}
.introduction-detail{
  font-size:16px;
  padding-top:10px;
}
#portfolio{
  width: 1100px;
  margin:0 auto;
  font-size:16px;
  overflow:hidden;
  padding-top:100px;
  background:#f7f7f7;
}
.porftolio-title{
  text-align: center;
  line-height:15px;
  margin-bottom:70px;
}
.porftolio-title>h1{
  font-size:40px;
  font-family:SimHei;
}
.portfolio-theme{
  width:346.6px;
  text-align: center;
  float: left;
  margin: 10px;
}
.portfolio-picture{
  width:346.6px;
  height:240px;
  background-color:yellow;
}
.portfolio-picture img{
  height:100%;
  width:100%;
  opacity:1;
  position:relative;
  z-index: 1;
}
.portfolio-detail{
  line-height: 10px
}
.portfolio-detail p:first-child{
  font-size:25px;
  font-family:SimHei;
}
.portfolio-picture img:hover{
  opacity: 0.5;
}
#about{
  margin-top:150px;
}
#about .about-title{
  text-align:center;
  margin-bottom:60px;
}
#about img{
  border:8px solid #ddd ;
  border-radius: 50%;
}
.middle-line{
  width:0px;
  height:1290px;
  border-left:1px solid;
  margin:0 auto;
  position:absolute;
  z-index: 1;
  left:550px;
}
.about-contener{
  width:1100px;
  margin:0 auto;
  position:relative;
}
.float-left-writing{
  width:400px;
  float:left;
  text-align:right;
  line-height:20px;
  margin-right:42px;
}
.float-left-picture{
  width:216px;
  float:left;
}
.about-contener ul>li{
  overflow:hidden;
  list-style:none;
  margin-bottom:100px;
  position:relative;
  z-index: 20;
}
.float-right-writing{
  width:400px;
  float:right;
  text-align:left;
  line-height:20px;
}
.float-right-picture{
  width:216px;
  float:right;
  margin-right:42px;
}
.about-bottom{
  margin:0 auto;
  font-size:25px;
  text-align:center;
  height:216px;
  width:216px;
  border:8px solid #ddd ;
  border-radius:50%;
  background:yellow;
}
#amazing-team{
  background:#FFF0F5;
  padding-top:100px;
}
.amazing-title{
  text-align:center;
  line-height:20px;
  margin-bottom:50px;
}
.amazing-titil>h1{
  font-size:40px;
  font-family:SimHei;
}
.amazing-member{
  width:1100px;
  margin:0 auto;
}
.amazing-member>ul{
  overflow:hidden;
}
.member{
  float:left;
  width:346.6px;
  margin:10px;
  text-align:center;
  line-height:25px;
}
.amazing-member li{
  list-style:none;
}
.member img,.iconfont{
  border:1px;
  border-radius:50%;
}
.member .iconfont{
  font-size:20px;
  padding:10px;
  color:white;
  background:black;
}
.member .icon{
  margin-top:20px;
}
.member .iconfont:hover{
  background:yellow;
}
.amazing-bottom{
  text-align:center;
  font-size:20px;
  padding:50px 300px;
}
#sponsor{
  padding:80px;
}
.sponsor-contener{
  width:1100px;
  margin:0 auto;
}
.sponsor-list>li{
  float:left;
  width:255px;
  margin:10px;
  list-style:none;
}
.sponsor-list{
  overflow:hidden;
}
#contact{
  background-image:url(picture/19.png);
  background-size:cover;
  padding-top:80px;
}
.contact-title{
  text-align:center;
  margin-bottom:30px;
}
.contact-contener{
  width:1100px;
  margin:0 auto;
  padding-bottom:80px;
}
.my-message>input{
  height:50px;
  width:510px;
  border-radius:5px;
  margin-bottom:20px;
}
.form .float-left{
  float:left;
}
.message>textarea{
  float:right;
  height:200px;
  width:510px;
  border-radius:5px;
}
.message,.float-left{
  overflow:hidden;
}
.button>input{
font-size:30px;
padding:10px 30px;
background:yellow;
border-radius:5px;
}
.form .button{
  clear:both;
  margin:0 auto;
  text-align:center;
}
.bottom-contener{
  overflow:hidden;
  width:1000px;
  margin: 0 auto;
  padding:20px;
}
.bottom-contener div{
  width: 313.3px;
  float:left;
  margin:10px;
  font-size:16px;
  text-align:center;
}
.bottom-middle .iconfont{
  padding: 10px;
  background:black;
  color:white;
  border-radius:50%;
  margin:10px;
}
.bottom-right a{
  color:yellow;
  margin: 10px;
}
.bottom-middle .iconfont:hover{
  background:yellow;
}
