body,a{
	margin:0;
	padding:0;
}
@font-face { 
	font-family: 'stop';
	src: url('../font/stop.eot');/* IE9*/ 
  	src: url('../font/stop.eot') format('embedded-opentype'),/* IE6-IE8 */ 
    url('../font/stop.woff2') format('woff2'),
    url('../font/stop.woff') format('woff'),/* chrome、firefox */ 
    url('../font/stop.ttf') format('truetype'),/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ 
    url('../font/stop.svg') format('svg');/* iOS 4.1- */ 
    font-weight: normal;
    font-style: normal;
} 
.iconfont{
	font-family: "stop" !important;
	font-size:16px;
}
.icon{
	text-decoration: none;
	color:black;
}
.icon:hover{
	color:#A663BE;
}
