@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-07-11 20:46:25
 * @version $Id$
 */

/* reset */
* {
	margin: 0;
	padding: 0;	
	font-size: 12px;
	box-sizing: border-box;
}
li {list-style: none;}
a {
	text-decoration: none;
	color: #666;
}
/* end reset */

/* public */
.clear:after {
	content: "";
	display: block;
	clear: both;
}
ul.jewelry,
ul.Luxury {
	display: none;
}
/* end public */

div.switch {
	width: 750px;
	margin: 10px 0 0 10px;
}
ul.tab {
	float: left;              /*设置浮动，让ul宽度不被固定，由内部li决定*/
	border: 1px solid #ccc;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
}
ul.tab li {
	float: left;
	padding: 8px 0;
}
ul.tab li a {                  /*权重：ul.tab li a  >  .activea  >  reset里的a*/
	display: inline-block;
	border-right: 1px solid #ccc;
	padding: 0 10px;
}
ul.tab li:last-child a {border: none;}
ul.items {
	float: left;
	border: 1px solid #ccc;
	width: 704px;
}
ul.items li {
	float: left;
	position: relative;
	padding: 10px;
	margin: 10px;
	border: 1px solid #eee; 
} 
div.cover {
	position: absolute;          /*绝对定位之后，分别设置偏移量撑开div*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.3);
}
a.imme {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -39px;
	margin-top: -17px;
	padding: 10px 15px;
	border: 1px solid #c81623;
	border-radius: 3px;
	color: #c81623;
	background: #fff;
	cursor: pointer;
}
ul.items li p {margin: 10px 0;}
ul.items li img {margin-left: 31px;}
ul.items li span {color: #c81623;}

/* dynamic */
ul.tab li.active {background: #ccc;}
ul.tab li.active a{color: #c81623;}
div.cover a.imme { display: block; }
/* end dynamic */