@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-06-12 15:22:58
 * @version $Id$
 */
	html,body,ul,li{
		margin: 0;
		padding: 0;
	}
	body{
		font-size: 14px;

	}
	li{
		list-style: none;
	}
	a{
		text-decoration: none;
		color:#333;
	}
	.wrap{
		width: 1000px;
		margin: 0 auto;
	}
	#nav .father>li{
		float: left;
		height: 51px;
		position: relative;
	}
	#nav .father>li>a{
		display: block;
		color: #777;
		padding: 15px;

	}
	#nav .father>.first>a{
		display: block;
		color: #777;
		padding: 13px;

	}
	#nav .first{
		font-size: 18px;
	}

	#nav .father:after{
		content: "";
		display: block;
		clear: both;
	}
	#nav .child{
		display: none;
	}
	#nav .father>li>a:hover{
		color: #333;
	}
	
	#nav .father>li:hover .child{
		display: block;
		position: absolute;
		left: 0;
		top: 100%;
		border-top: 1px solid #ccc;
	}
	#nav .father>li:hover .child li{
		width: 130px;
	}
	#nav .father>li:hover .child li a:hover{
		background-color: rgb(245,245,245);
	}
	#nav .father>li:hover .child li a{
		/*position: absolute;
		left: 0;*/
		/*top: 100%;*/
		display: block;
		color: #333;
		padding: 5px 5px 5px 15px;
		font-size: 14px;
		background-color: #fff;
	}
	#nav .father>li:hover .child li p{
		background-color: #fff;
		margin:0;
		padding-top: 10px;
		padding: 5px 5px 5px 15px;
		color: #777;
	}
	#nav .father>li:hover .child li hr{
		background-color: #fff;
		margin:0;
		border:0;
		border-bottom: 1px solid #eee;
		height: 0;
		/*padding-top: 10px;
		padding-bottom: 10px;*/
	}
	#main{
		background-color: #B84D45;
	}
	#main .container{
		/*text-align: center;*/
		padding: 50px 0;
		color: #fff;
	}
	#main h1{
		font-size: 60px;
		font-weight: normal;
		margin:0 0 10px;
	}
	#main p{
		font-size: 24px;
		margin:0;
		color:rgba(255, 255, 255, .8)
	}
	#content-nav{
		background-color: #F5F5F5;
	}
	#content-nav .container{
		margin:40px 0;
	}
	#content-nav p{
		padding: 10px;
	}
	#content-nav a{
		color: #B84D45;
	}
	#content-nav a:hover{
		color: #803630;
		text-decoration: underline;
	}
	#content-nav span{
		color: #777;
	}
	#content-nav span:before{
		content: "/\00a0";
		padding: 0 5px;
		color: #ccc;
	}
	#mainbox{

	}
	#mainbox .container{
		margin: 30px 0;
		text-align: center;
		font-family: cursive;
	}
	#mainbox ul:after{
		content: "";
		display: block;
		clear: both;
	}
	#mainbox ul{
		margin-left: -25px;
		position: relative;
		left: 25px;
	}
	#mainbox ul li{
		border: 1px solid #ccc;
		float: left;
		padding: 3px;
		border-radius: 3px;
		margin-right: 25px;
		margin-bottom: 25px;
	}
	#mainbox ul li a{
		display: block;
		width: 50px;
		margin: 10px auto 20px;
		border: 1px solid #ccc;
		padding: 5px;
		border-radius: 3px;
	}
	#mainbox ul li a:hover{
		background-color: rgb(230,230,230);
	}
	#mainbox ul img{
		width: 308px;
	}
	#mainbox ul img:hover{
		opacity: 0.8;
	}
	#mainbox h3{}
	#mainbox p{}
	#detail{
		background-color: #B84D45;
	}
	#detail .container{
		padding: 50px 0;
		color:#fff;
		text-align: center;
	}
	#detail h3{
		font-size: 30px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	#detail p{
		font-size: 18px;
		margin-bottom: 0;
	}
	#footer .container{
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
	}
	#footer hr{
		border: 0;
		border-top: 1px solid #eee;
		margin-bottom: 20px;
	}
	#footer a{
		color: #B84D45;
	}
	#footer a:hover{
		color: #333;
		text-decoration: underline;
	}