/*css reset*/
	html,body,h1,p,h3,h2,ul,li{
		margin:0;
		padding:0;
	
	}

	a{
		text-decoration:none;
	}
	li{
		list-style: none;
	}
  
  html,body{
    height: 100%;
  }
	.layout{
		width:900px;
		margin:0 auto;
	}/* 居中 */
  /*头部部分*/
	#header{
		height:100%;
		width:100%;
		position:relative;
		background:url(../img/bg.jpg) no-repeat;
		background-size: cover;
		display: table;
	}
	 .wrap{
	      display:table-cell;
        text-align: center;
        vertical-align: middle;
	
	}
	 .wrap h1{
    	 	font-weight: bold;
    		margin:10px;
	
	}
	.wrap p{
    		margin:10px 0;
  }
   .wrap .btn{
        background:rgba(0,0,0,0.3);
        color: #fff;
        display: inline-block;
        padding:10px;
        margin-top: 20px;
  }
   .wrap .btn:hover{
        background:rgba(0,0,0,1);
  }
  /*main部分*/
   #main .intro{
      	text-align: center;
     	  padding:50px 0;
   }
   #main .myskill{
       	background: #337AB7;
       	width: 100%;
       	text-align: center;
       	color: #fff;
        padding: 50px 0px;
   }
    .bg{
       	background: url(../img/callout.jpg) no-repeat;
       	background-size: cover;
   }
    .bg h1{
         padding:150px 0;
         text-align: center;
         color: #fff;
   }
  
    .myworks{
   	    text-align: center;
   }
    .myworks .btn-2{
          background:rgba(0,0,0,0.3);
          color: #fff;
          display: inline-block;
          padding:6px 10px;
          margin:0 0 10px;

   }
     .myworks .btn-2:hover{
    	   background:rgba(0,0,0,1); 
    }
 
    .skill-list:after{
      content: '';
      display:block;
      clear:both;
   }
    .skill-list>li{
   	width: 200px;
   	float: left;
   	padding: 12px;

   }
    .skill-list .btn-1{
       background: #fff;
       color: #000;
       display: inline-block;
       padding: 6px;
       margin-top: 10px;
     }
    .skill-list .btn-1:hover{
    	 background: rgba(255,255,255,0.6);
    } 
    .skill-list p{
    	font-size: 14px;
    	margin: 0 0 10px;
    	font-family: '微软雅黑';
    }
   .work-list:after{
     	content: '';
     	display: block;
     	clear: both;
   }
   .work-list>li{
      float: left;
      width: 400px;
      margin: 25px;

   }

   img{
   	 width: 400px;
   }
   /*footer部分*/
   #footer .other {
      background: #337AB7;
      width: 100%;
      text-align: center;
      color: #fff;
      padding: 30px;
 }
   .other .btn1{
      color: #333;
      background:#fff;
      display: inline-block;
      padding: 10px;
      margin: 20px;
 }
   .btn1:hover{
 	    background: rgba(255,255,255,0.6);
 }
   .other .btn2{
    color: #fff;
    background:rgba(0,0,0,0.6);
    display: inline-block;
    padding: 10px;
 }
  .btn2:hover{
   	background:#000;
 }
  .my-news{
   	padding: 30px 0;
   	text-align: center;
 }
  .my-news p{
 	  margin:0 0 10px;
 }
  .my-news .co-right{
 	   color: #777;
 }
