html, body, p, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0;
	padding: 0;
}
body {
	font: 14px/1.5 normal;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
a {
	text-decoration: none;
	color: #555;
}
a:hover {
	color: #333;
}
li {
	list-style: none;
}
.btn {
	display: inline-block;
	border: 1px solid #777;
	padding: 8px;
	border-radius: 3px;
	border-color: #CCC;
}
.logo {
	display: inline-block;
	font-size: 28px;
	float: left;
}
/*nav*/
#nav {
	line-height: 50px;
}
.outter {
	display: inline-block;
	float: left;
	margin: 0 20px;
}
.outter > li {
	display: inline-block;
	position: relative;
	padding-right: 20px
}
.outter > li:hover > .inner {
	display: block;
}
.inner {
	display: none;
	position: absolute;
	left: 0;
	top: 100%:;
	border: 1px solid #AAA;
}
.inner > li {
	padding: 5px;
	line-height: 20px;
	background-color: #FFF;
}
.inner li:hover {
	background-color: #EEE;
	color: #000;
}
.inner > li.mid {
	border-top: 1px dashed #777;
	border-bottom: 1px dashed #777;
}
/*header*/
#header {
	padding: 40px 0;
	background-color: rgb(189,79,72);
	color: #FFF;
}
/*info*/
#info {
	background-color: #EEE;
	margin: 30px auto;
	border-radius: 5px;
	color: #666;
	line-height: 3.5;
}
#info a {
	color: rgb(189,79,72);
	text-decoration: none;
}
#info ul {
	margin: 10px;
}
#info li {
	display: inline-block;
}
/*works*/
#works .box {
	width: 30%;
	height: 320px;
	border: 1px solid #CCC;
	float: left;
}
#works .row {
	margin: 30px 0;
}
#works .center {
	margin: 0 4.7%;
}
#works .box img {
	width: 300px;
}
/*footer*/
#footer {
	margin: 30px 0;
	padding: 20px 0;
	color: #FFF;
	background-color: rgb(189,79,72);
	text-align: center;
}
#footer p {
	margin: 3px;
}
#footer a.btn {
	color: #FFF;
	margin: 5px;
}
/*copyright*/
#copyright {
	text-align: center;
	padding: 30px 0;
	border-top: 1px solid #EEE;
}