body,ul,li,h1,h2{
	padding: 0;
	margin:0;
}
body{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.navbar{
	height: 100px;
	position: fixed;
	width: 100%;
	display: table;
	top:0;
	z-index: 2;
	background: transparent;
	line-height: 50px;
}
.nav-scroll-state{
	height: 70px;
	background-color: #27262B;
	/*background-color: red;*/
}
.vertical-center{
	display: table-cell;
	vertical-align: middle;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.nav-logo{
	color: #FEC503;
	text-transform:capitalize;
	font-size: 2em;
	font-family: "Kaushan Script";
}
.nav-list{
	float: right;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.nav-item{
	display: inline-block;
}
.nav-item>a{
	padding:15px;
	letter-spacing: 1px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	top:3px;
}
.active{
	background-color:#FED136;
 	border-radius: 3px;
}
.nav-item .active:hover{
	background-color: #FEBF11;
	color: white;
}
.nav-item>a:hover{
	color: #fec503;
}
.intro{
	height: 750px;
	background: url(imgs/intro-bg.jpg) center center no-repeat;
	background-size: cover;
}
.intro .container{
	padding-top:300px;
	color: white;
	text-align: center; 
}
.intro .up-sub-title{
	font-style: italic;
	font-size: 40px;
	text-transform: capitalize;
	font-family: "Droid Serif";
	margin-bottom: 25px;
}
.intro .main-title{
	font-size: 70px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.btn{
	color: white;
    background-color: #fed136;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    display: inline-block;
}
.btn:hover{
	background-color:#FEC503; 
}
.service{
	padding: 150px 0;
	text-align: center;
}
.section-title{
	font-size: 40px;
	text-transform: uppercase;
	color: #333;
}
.section-description{
	font-style: italic;
	font-family: Arial;
	font-weight: 400;
	color: #999;
	font-size: 16px;
}
.service-item{
	width: 360px;
	height: 243px;
	float: left;
	margin-left: 30px;
}
.service-list{
	margin: 75px 0 0 -30px;
}
.round-wrapper{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	background-color: #FED136;
	border-radius: 56px;
}
.service .round-wrapper .iconfont{
	color: white;
	font-size: 53px;
	line-height: 100px;
}
.item-title{
	text-transform: capitalize;
	color: #333;
}
.item-description{
	color: #777;
	font-size: 15px;
}
.portfolio{
	padding: 150px 0;
	background-color: #F7F7F7;
	text-align: center;
}
.portfolio-list{
	margin: 75px 0 0 -30px;
}
.portfolio-item{
	width: 360px;
	height:357px;
	float: left;
	background-color: white;
	margin: 0 0 30px 30px;
	position: relative;
}
.portfolio-item>a>img{
	width: 360px;
}
.portfolio-item>a{
	display: block;
}
.hover-content{
	position: absolute;
	height: 260.09px;
	width: 360px;
	top:0;
	text-align: center;
	background-color: rgba(254,209,54,.9);
	opacity: 0;
	transition: opacity 1s;
}
.portfolio-item>a:hover > .hover-content{
	opacity: 1;
}
.hover-content .iconfont{
	font-size: 50px;
	font-weight: 900;
	line-height: 260.09px;
	color: white
}
.portfolio-item .item-title{
	margin-bottom: 0;
}
.portfolio-item .item-description{
	text-transform: capitalize;
	margin:0;
	font-size: 16px;
	font-style: italic;
}
.about-info{
	text-align: center;
	padding: 150px 0;
}
.about-timeline{
	margin-top:-25px;
}
.timeline-detail{
	height: 198px;
	margin-top:100px;
	position: relative;
}
.timeline-panel{
	width: 347px;
	height: 178px;
}
.left-part{
	position: absolute;
	left:100px;
	text-align: right;
}
.right-part{
	position: absolute;
	right:100px;
	text-align: left;
}
.pic-wrapper{
	width: 170px;
	height: 170px;
	background-color: #f1f1f1;
	border-radius: 100%;
	position: absolute;
	text-align: center;
	left:50%;
	margin-left: -85px;
}
.middle-line{
	position: absolute;
	border-right:2px solid #f1f1f1;
	height: 1200px;
	left:85px;
	z-index: -1; 
}
.pic-wrapper>img{
	width: 156px;
	border-radius: 78px;
	margin-top: 7px;
}
.join-us{
	box-sizing: border-box;
	background-color: #FED136;
	border: 7px solid #f1f1f1;

}
.join-us>h4{
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	position: absolute;
	width: 80px;
	height: 60px;
	top:50%;
	left:50%;
	margin-top: -30px;
	margin-left: -40px;
}
.about-info .item-title{
	margin:0;
}
.team-info{
	padding: 150px 0;
	background-color: #f7f7f7;
	text-align: center;
}
.member-list{
	margin-top: 75px;
	margin-left: -30px;
}
.member-list>.member{
	width: 360px;
	margin-left: 30px;
	height: 407px;
	float: left;
}
.member-list>.member>img{
	width: 239px;
	border-radius: 100%;
	border: 7px solid white;
	box-sizing: border-box;
}
.member-list>.member>.item-title{
	margin-bottom: 0;
}
.member-list>.member>.item-description{
	margin: 0 0 10px 0;
}
.social-media{
	margin:0;
}
.social-media>a>.iconfont{
	font-size: 40px;
	color: black;
	padding:0 3px;
	transition: color 0.5s;
}
.social-media>a:hover >.iconfont{
	color: #FED136;
}
.text-container{
	width: 750px;
	margin: 0 auto;
}
.clients{
	text-align: center;
}
.clients>a{
	display: inline-block;
	padding: 50px;
}
.contact-us{
	padding: 150px 0;
	text-align: center;
	background:url("http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/map-image.png") #222 no-repeat center;
}
.contact-us .section-title{
	color: white;
}
.contact-us .section-description{
	margin-bottom: 75px;
}
.left-form{
	float: left;
	margin-top: -25px;
}
.input-control{
	width: 513px;
	padding: 20px;
	border:1px solid #ccc;
	border-radius: 4px;
}
.input-control::-webkit-input-placeholder{
	color: #ccc;
	font-size: 15px;
	font-family: Montserrat;
}
.left-form>p{
	margin:25px 0 0 0;
}
.left-form .input-control{
	height: 20px;
}
.right-form{
	float: right;
}
.right-form .input-control{
	height: 194px;
}
.contact-us .btn{
	margin-top: 20px;
}
.footer{
	padding: 25px 0;
}
.footer-info-list{
	margin-left: -30px;
}
.footer-info-list>li{
	float: left;
	height: 40px;
	line-height: 40px;
	width: 360px;
	margin-left: 30px;
	text-align: center;
}
.legal-info>a{
	color:#FED136;
}
.legal-info>a:hover{
	text-decoration: underline;
}