c
    html,body,h2,h1,ul,p{
    	padding:0;
    	margin: 0;
    }
    a{
    	text-decoration: none;
    }
    li{
    	list-style: none;
    }
    html,body{
      height: 100%;
    }
    body{
    	fotn-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    }

    .layout{
    	width: 1200px;
    	margin: 0 auto;
    }
    #header{
    	width:100%;
    	height:100%;
    	position: relative;
    	background: url(../img/header-bg.jpg) no-repeat;
    	background-size:cover;
    	display: table;
    	
    }
    #header .wrap{
         display: table-cell;
         vertical-align: middle;
         text-align: center;
         color: #fff;
    }
     #header .wrap h2{
     	font-size: 80px;
     	margin-top: 30px;
     	margin-bottom: 30px;
     }
     #header .btn a{
     	display: inline-block;
     	width: 200px;
     	height: 60px;
     	background: #fed136;
     	color: #fff;
     	border-radius: 5px;
     	text-align: center;
     	line-height: 60px;
     }
     #header .btn a:hover{
     	background:#fdc506;
     }
    .nav-bar{
    	height: 70px;
    	line-height: 70px;
    	background:rgb(24,23,29);
    	position: fixed;
    	left: 0;
    	right: 0;
    	z-index:2;
    	
    }
   
    .nav-bar h2 a{
    	color: #fed136;
    }
    .nav{
        position: absolute;
        left: 900px;
        top: 4px;

    }
    .nav:after{
         content: '';
         display: block;
         clear:both;
    }
    .nav>li{
    	color: #fff;
    	float: left;
    	margin-left: 10px;
    	margin-right: 10px;
    	font-size: 18px;
    }
    .nav a{
    	color:#fff;
    }
   .nav a:hover{
       color:#fed136; 
    }
    .services{
    	padding: 150px 0;
    	text-align: center;
    }
 
    .title-1{
   	font-size: 48px;
   	margin-bottom: 20px;
	}
	.content-1{
     color:#777;
   	 margin-bottom: 40px;
  }
   .services-2{
   	margin-bottom: 20px;
   }
   .content-2{
   	color:#777;
   }
   .services-list:after{
    content: '';
    display: block;
    clear: both;
   }
   .services-list>li{
   	float: left;
   	width: 386px;
   	height: 200px;
   }
   
   .icon{
   	background:#fed136;
   	padding: 36px;
   	height: 150px;
   	line-height: 150px;
   	border-radius: 50%;
   }
   .portfolio{
   	padding: 150px 0;
   	background: #f7f7f7;
   	text-align: center;
   }
   .portfolio-list{
   	margin-left: -20px;
   }
   .portfolio-list:after{
   	content: '';
   	display: block;
   	clear: both;
   }
    .portfolio-list>li{
    	float: left;
    	width: 380px;
    	height: 400px;
    	margin-left: 20px;
    	margin-top: 20px;
    	border: 1px solid #fff;
    	background: #fff;
    }
    .portfolio-list img{
    	width: 378px;
    	height: 300px;
    	margin-bottom: 20px;
    }
    .portfolio-list img:hover{
    	opacity: 0.6;
    }
    .about{
       padding: 150px 0;
   	   text-align: center;
   	   position: relative;
    }
    .about:after{
    	content: '';
    	display: block;
    	clear: both;
    }
    .container-1{
    	width: 450px;
    	height: 400px;
    	float: left;
    	text-align: right;
    }
    .about p{
    	height: 40px;
    	line-height: 40px;
    	color:#777;
    }
    .about img{
    	border:6px solid #e7e7e7;
    	border-radius: 50%;
    	position: absolute;
    	left: 43%;
    }
    .line{
    	border-right: 1px solid #e7e7e7;
    	height: 360px;
    	width: 610px;
    }
    .container-2{
    	width: 450px;
    	height: 400px;
    	float: right;
    	text-align: left;
    }
    .about .circle{
    	border:6px solid #e7e7e7;
    	height: 140px;
    	padding-top: 60px;
    	text-align: center;
    	color: #fff;
    	width: 200px;
    	background: #fed136;
    	border-radius: 50%;
    	position: relative;
    	left: 42%;

    	
    }
    .team{
   	padding: 150px 0;
   	background: #f7f7f7;
   	text-align: center;
   }
   .team-list{
    	margin-left: -20px;
   } 
  .team-list:after{
   	content: '';
   	display: block;
   	clear: both;
   }
   .team-list>li{
    	float: left;
    	width: 386px;
    	height: 400px;
    	margin-left: 20px;
    	margin-top: 20px;
    }
    .team-list img{
    	border-radius: 50%;
    	margin-bottom: 20px;
    }
    .icons{
    	height: 60px;
    	line-height: 60px;
        padding: 10px;
    }
    .icons:hover{
    	background:#fed136;
    	border-radius: 50%;
    }
    .team .content-1{
    	margin-top: 30px;
    	font-size: 20px; 	
    }
    .logos-list{
    	margin-left: -40px;
    }
    .logos-list:after{
    	content: '';
    	display:block;
    	clear: both;
    }
    .logos-list>li{
    	float: left;
    	width: 270px;
    	margin: 40px 0 40px 40px;
    }
    .contact {
    	width: 100%;
    	height: 100%;
    	background: url(../img/map-image.png) no-repeat;
    	background-size: cover;
    	position: relative;
    	display: table;
    }
    .contact .wrap{
    	padding: 150px 0;
    	display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
    }
  .contact h3{
  	color: #bfb8b8;
  }
    input,textarea:focus{
    	outline: none;
    }
    .style{
    	width: 30%;
    	height: 40px;
    	margin-top: 60px;
    	position: relative;
    	left: -300px;
        border-radius: 6px;
    }
    .style-2{
    	    width: 30%;
            height: 240px;
            position: relative;
            top: -260px;
            left: 300px;
            border-radius: 6px;
    }
    .contact .btn{
    	width:200px;
    	height: 70px;
    	line-height: 50px;
    	background:#fed136;
    	border-color: #f6bf01;
    	color: #fff;
    	position: relative;
    	top: -100px;
    	border-radius: 8px;
    }
    .contact .btn:focus{
    	outline: none;
    	background:#fdc506; 
    }
    .copyright{
   	padding: 10px 0;
   	text-align: center;
   }
   .copyright-list{
    	margin-left: -20px;
   } 
  .copyright-list:after{
   	content: '';
   	display: block;
   	clear: both;
   }
   .copyright-list>li{
    	float: left;
    	width: 386px;
    	height: 60px;
    	line-height: 60px;
    	margin-left: 20px;
    	margin-top: 20px;
    }
     .copyright-list p{
     	color: #676161;
     }
    .copyright-list a{
    	color: #fdc506;
    }
    .copyright-list a:hover{
    	text-decoration: underline;
    }
