html,body {
  margin: 0;
  padding: 0;
}                 
.div1 {
  background: #383232;
  height:50px;
}
.logo {
  float: left;
}
img {
  height: 50px; 
}
.dao {
  float:right;
  width: 700px;
  height: 50px;
}
.dao li {
  float: left;
  list-style: none;
  margin: auto 30px;
}
.dao a {
  font-size:23px;
  text-decoration: none;
  color: #fff;
}
.div2 {
  height:500px;
  width:910px;
  margin: 10px auto 0 auto;
} 
.div3 {
  background: #383232;
  height: 50px;
  color: #fff;
  line-height: 50px;
  padding-left: 220px;
}
.aside {
  height: 500px;
  width: 200px;
  float: left;
  background: #9E9E9E;
}
.main {
  height: 200px;
  width: 690px;
  margin-left: 10px;
  padding-left: 10px;
  background: #9E9E9E;
  float: left;
}