.main{
	position: relative;
	height: 100px;
	width: 200px;
	border: 1px solid gray;
	margin: 50px auto;
}
.item1{
	position: absolute;
	width: 0px;
	height: 0px;
	border: 20px solid;
	border-color: white white gray white;
	bottom:100px;
	left:20px; 
}
.item2{
	position: absolute;
	width: 0px;
	height: 0px;
	border: 15px solid;
	border-color: red red white white;
	top: 0px;
	right: 0px;
}
.item3{
	position: absolute;
	width: 0px;
	height: 0px;
	border: 20px solid;
	border-color: white white gray white;
	bottom:100px;
	left:20px;
	z-index: 1;
}
.item4{
	position: absolute;
	width: 0px;
	border: 18px solid;
	border-color: transparent transparent white transparent;
	bottom:100px;
	left:22px;
	z-index: 2;

}